.roleButtons {
    color: white;
    background-color: maroon;
    border-radius: 5px;
    width: 100px;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .formRole {
    background-color: white;
    border-radius: 5px;
    margin-left: -10px;
    height: 100%;
  }
  
  .roleInputs {
    margin-left: 20px;
    margin-top: 0px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    color: maroon;
  }
  
  .custom-spinner .mat-progress-spinner circle,
  .custom-spinner .mat-spinner circle {
    stroke: maroon !important; /* Ensure maroon color is applied */
  }