<h1 mat-dialog-title>Edit Bank</h1>
<div mat-dialog-content>
  <form [formGroup]="bankForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Bank Name</mat-label>
      <input matInput placeholder="Bank Name" formControlName="bankName" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Bank Code</mat-label>
      <input matInput placeholder="Bank Code" formControlName="bankCode" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Bank Country</mat-label>
      <input matInput placeholder="Bank Country" formControlName="bankCountry" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Branch Name</mat-label>
      <input matInput placeholder="Branch Name" formControlName="branchName" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Branch Code</mat-label>
      <input matInput placeholder="Branch Code" formControlName="branchCode" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Swift Code</mat-label>
      <input matInput placeholder="Swift Code" formControlName="bankSwiftCode" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-primary"  (click)="onSave()" [disabled]="!bankForm.valid">Save</button>
    <button mat-button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  </div>

