.full-width {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  .save-btn {
    width: auto;
    min-width: 150px;
  }
  .btn-primary {
    width: auto; /* Adjusts the width automatically based on content */
    min-width: 150px; /* Ensures minimum width */
  }