<section class="content">
  <div class="content-block" >
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'LC'" [items]="['Home']" [active_item]="'Transfer LC'">
      </app-breadcrumb>
    </div>


    <section class="container ">
      <!-- <header>Transfer of Documentary Credit</header> -->
      <!-- Section 1: Beneficiary Details -->
      <form class="form" [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <p style="color: maroon; font-weight: bold;">Secondary Beneficiary Details:</p>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label for="first name">First Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput type="text" formControlName="secondaryBeneficiaryFirstName" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Middle Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryMiddleName" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Last Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryLastName" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Phone Number</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryPhoneNumber" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Email</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryEmail" type="text" />
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Address</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryAddress" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>City</mat-label>
            <br>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryCity" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Country</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryCountry" type="text" />
            </mat-form-field>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Account Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryAccountName" type="text" />
            </mat-form-field>
          </div> -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Account Number</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryAccountNumber" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Account Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryAccountName" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Bank Name</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiaryBank" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Amount to Transfer:</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="transferAmount" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>SWIFT Code:</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="secondaryBeneficiarySwiftCode" type="text" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Transfer Date:</mat-label>
            <br>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="transferDate" type="date" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Latest Shipment Date:</mat-label>
            <br>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="latestShipmentDate" type="date" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label>Expiry Date:</mat-label>
            <br>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="newExpiryDate" type="date" />
            </mat-form-field>
          </div>

        </div>

        <div class="clearfix">
          <button type="submit" class="submit-btn">Submit</button>
          <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>


        </div>

      </form>











      <!-- <mat-form-field hintLabel="beneficiary ID">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value.length}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field> -->