<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'LC'" [items]="['Home']" [active_item]="'Transfer LC'">
      </app-breadcrumb>
    </div>


<section class="container ">
  <!-- <header>Transfer of Documentary Credit</header> -->
  <!-- Section 1: Beneficiary Details -->
  <form class="form" [formGroup]="transferForm" (ngSubmit)="OnSubmit()">
    <div class="row">
      <h4>Secondary Beneficiary & Transfer Details</h4>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box">

          <label for="first name">First Name</label>
          <input type="text" formControlName="secondaryBeneficiaryFirstName" />
          <!-- <small  [class.is-invalid]="transferForm.get('BeneficiaryId')?.invalid && transferForm.get('BeneficiaryId')?.touched" class="text-danger">Beneficiary ID is required</small> -->
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 input-box">

          <label for="phone number">Phone Number</label>
          <input type="number" id="secondaryBeneficiaryPhoneNumber" formControlName="secondaryBeneficiaryPhoneNumber" />
        </div>



      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 input-box">

          <label for="middle name">Middle Name</label>
          <input type="text" id=" secondaryBeneficiaryMiddleName" formControlName="secondaryBeneficiaryMiddleName" />
        </div>

        <div class="input-box ">
          <label for="address">Country</label>
          <input type="text" id="secondaryBeneficiaryCountry" formControlName="secondaryBeneficiaryCountry" />
        </div>


      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box">
          <label for="Last Name">Last Name</label>
          <input type="text" id="secondaryBeneficiaryLastName" formControlName="secondaryBeneficiaryLastName" />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 input-box">
          <label for="city">City</label>
          <input type="text" id=" secondaryBeneficiaryCity" formControlName="secondaryBeneficiaryCity" />
        </div>
        <!-- <div class="col-md-3 input-box">
          <label for="phone number">Phone Number</label>
          <input type="number" id="secondaryBeneficiaryPhoneNumber" formControlName="secondaryBeneficiaryPhoneNumber" />
        </div> -->

      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box">
          <label for="email"> Email</label>
          <input type="email" formControlName="secondaryBeneficiaryEmail" />
          <!-- <div  *ngIf="transferForm.get('secondaryBeneficiaryAccount')?.invalid && transferForm.get('secondaryBeneficiaryAccount')?.touched">
            <small  [*ngIf= "transferForm.get('secondaryBeneficiaryAccount').errors?.required"]class="text-danger">Account No. is required</small>
            <small  [*ngIf= "transferForm.get('secondaryBeneficiaryAccount').errors?.minlength" ]class="text-danger">Account No. must be atleast 15 characters.</small>
            </div> -->
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 input-box">
          <label for="address">P.O.Box</label>
          <input type="text"
            formControlName=" secondaryBeneficiaryAddress" />
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box">
          <label for="accountName">Account Name</label>
          <input type="text" formControlName="secondaryBeneficiaryAccountName">
        </div>

        <!-- <small *ngIf="reactiveForm.get('address.country').invalid && reactiveForm.get('address.country').touched">
            *Country is a required field.
          </small> -->
          <div class="col-md-3 input-box">
            <label for="Bank">Bank Name</label>
            <input type="text" formControlName="secondaryBeneficiaryBank" />
          </div>
      
      </div>

      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box">
          <label for="account">Account Number</label>
          <input type="number" formControlName="secondaryBeneficiaryAccountNumber">
        </div>
         <div class="input-box">
          <label for="SwiftCode">Swift Code</label>
          <input type="number" formControlName="secondaryBeneficiarySwiftCode" />
        </div>

       
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="input-box ">
          <label for="transferAmount">Amount to transfer</label>
          <input type="number" formControlName="transferAmount" />
        </div>
        <div class="input-box">
          <label for="transfer date">Transfer Date</label>
          <input type="date" placeholder="transferDate" formControlName="transferDate" />
        </div>
        
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2 input-box">
          <label for="latestShipmentDate">Latest Shipment Date</label>
          <input type="date" placeholder="latestShipmentDate" formControlName="latestShipmentDate" />
        </div>
       
        <div class="input-box">
          <label for="expiry date">Expiry Date</label>
          <input type="date" placeholder="Expiry Date" formControlName="newExpiryDate" />
        </div>
      </div>
    </div>
   
    <br>
    <div class="clearfix">
      <button [disabled]="!transferForm.valid" type="submit" class="submit-btn">Submit</button>
      <button type="button" class="modify-btn">Modify</button>
      <button type="button" class="cancel-btn">Cancel</button>
      <!-- <input type="submit" value="Submit" class="submit-btn"> -->
    </div>
    <!-- [disabled]="!reactiveForm.valid" -->
  </form>
  <!-- {{transferForm.value | json}} -->










  <!-- <mat-form-field hintLabel="beneficiary ID">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat">
    <mat-hint align="end">{{input.value.length}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field> -->