<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Letter of Credit'" [items]="['Home']" [active_item]="'Verify'">
      </app-breadcrumb>
    </div>
    <mat-list>
      <mat-list-item>
        <h4>Applicant Details</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4>Beneficiary Details</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4>LC Details</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4>Collateral and Guarantee Details</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4>Supporting Documents</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="actions">
      <button mat-button color="warn" (click)="reject()">Reject</button>
      <button mat-button color="primary" (click)="approve()">Approve</button>
    </div>