
<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'PRIVILEGES'" [items]="['Home']" [active_item]="'View'">
        </app-breadcrumb>
        </div>

        

            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body">
        
                    <div class="table-responsive">
                      <div class="materialTableHeader">
                        <div class="row">
        
                          <div class="col-12">
                            <ul class="header-buttons-left ms-0">
                              <li class="dropdown">
                                <h2>PRIVILEGES</h2>
                              </li>
        
                              <li class="dropdown m-l-20">
                                <label for="search-input"><i class="material-icons search-icon" style="color:maroon">search</i></label>
                                <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                                  class="browser-default search-field" aria-label="Search box">
                              </li>
        
        
                              <li>
                                <div class="m-l-10" matTooltip="Refresh privilege">
                                    <button mat-mini-fab style="background-color: maroon; color: white;" (click)="refresh()">
                                    <mat-icon class="col-white">refresh</mat-icon>
                                  </button>
                                </div>
                              </li>


                              <li>
                                <div class="m-l-10" matTooltip="Add role">
                                    <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addPrivilege()">
                                    <mat-icon class="col-white">add</mat-icon>
                                  </button>
                                </div>
                              </li>

                              <li>
                                <div class="m-l-10" matTooltip="View all privileges">
                                    <button mat-mini-fab style="background-color: maroon; color: white;" (click)="refresh()">
                                    <mat-icon class="col-white">visibility</mat-icon>
                                  </button>
                                </div>
                              </li>
        
                            </ul>
                          </div>
        
                        </div>
                      </div>

                      <table style="width:100%;">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Privilege Code </th>
                            <th>Privilege Name</th>
                            <th>Privilege Description</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               
                                 <button matTooltip="View privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>visibility</mat-icon></button>                                                              
                                 <button matTooltip="Modify privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>edit</mat-icon></button>                              
                                 <button matTooltip="Delete privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>delete</mat-icon></button>
                                
                            </td>                
                          </tr>
    
    
                        </thead>
    
    
                        </table>
                        </div>
                        









                        
    
    
    


</div>

