.privilegeButton{
    color: white;
    background-color: maroon;
    border-radius: 5px;
    width: 100px;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.formPrivilege{
    background-color: white;
    border-radius: 5px;
    margin-left: -10px;
    height: 100%;
}


.privilegeInputs{
    margin-left: 20px;
    margin-top: 0px;
}