/* You can add global styles to this file, and also import other style files */

@import "~material-icons-font/sass/variables";
@import "~material-icons-font/sass/mixins";
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import "~material-icons-font/sass/main";
@import "~material-icons-font/sass/Regular";



html {
  font-size: 18px; /* change the value as needed */
}

//   tr:hover {background-color: coral;}
// #e3e3e3
.table tr.activeRow td {
  background-color: #e8e8e8 !important;
  //color: white;
}

.error-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.error-item {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  font-size: 14px;
  width: 100%;
}

thead th,
tbody td {
  font-size: 12px;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

$badge-color-hod: #2196f3; // Blue for HOD
$badge-color-hod-approved: #4caf50; // Green for HOD Approved
$badge-color-finance: #e91e63; // Pink for Finance
$badge-color-finance-approved: #673ab7; // Purple for Finance Approved
$badge-color-procurement: #3f51b5; // Indigo for Procurement
$badge-color-procurement-approved: #795548; // Brown for Procurement Approved

// Remark Text Colors
$remark-text-color: #757575; // Grey for remark text

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  .bg-color {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 0px;
    border-radius: 10px;

    .chat-header {
     
      .row {
        .col-2,
        .col-3,
        .col-4,
        .col-6,
        .col-12,
        .col-xs-2,
        .col-xs-4,
        .col-xs-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-12,
        .col-md-6,
        .col-md-12,
        .col-lg-6,
        .col-lg-12 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .chat-about {
            width: 100%;
            margin-bottom: 6px;
            padding: 15px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;

            .chat-with {
              font-size: 16px;
              color: #333;
              margin-bottom: 6px;
            }

            .chat-num-messages {
              .badge {
                padding: 4px 10px;
                font-size: 14px;
                border-radius: 5px;
                display: inline-block;
                margin-right: 10px;
                font-weight: bold;
                color: #fff; // White text for better visibility
              }

              // Define badge colors and class names
              .badge-hod {
                background-color: $badge-color-hod; // Blue for HOD
              }

              .badge-hod-approved {
                background-color: $badge-color-hod-approved; // Green for HOD Approved
              }

              .badge-finance {
                background-color: $badge-color-finance; // Pink for Finance
              }

              .badge-finance-approved {
                background-color: $badge-color-finance-approved; // Green for Finance Approved
              }

              .badge-procurement {
                background-color: $badge-color-procurement; // Yellow for Procurement
              }

              .badge-procurement-approved {
                background-color: $badge-color-procurement-approved; // Green for Procurement Approved
              }
            }

            .remarks {
              display: block;
              margin-top: 10px;

              strong {
                font-weight: bold;
                margin-right: 5px;
              }

              .remarks-content {
                font-size: 14px;
                color: $remark-text-color; // Gray text color for remarks
                margin-top: 5px; // Add some spacing
              }
            }

            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
    }
  }
}
/* Pending */
.mat-button.pending {
  background: linear-gradient(to right, #007bff, #3e7ad6);
}

/* Verified */
.mat-button.verified {
  background: linear-gradient(to right, #6610f2, #9a37f2);
}

/* Approved */
.mat-button.approved {
  background: linear-gradient(to right, #198754, #42a75c);
}

/* Rejected */
.mat-button.rejected {
  background: linear-gradient(to right, #f44336, #fe7067);
}

/* Returned */
.mat-button.returned {
  background: linear-gradient(to right, #b8925b, #dfc487);
}

/* Active */
.mat-button.active {
  background: linear-gradient(to right, #333333, #555555);
}

.mat-button,
.mat-button.active {
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.2s ease-in-out;
}

.mat-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
}

.button-container {
  display: flex;
  align-items: center;
}

.mat-button {
  margin-right: 8px !important;
}

