<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Invoice Discounting'" [items]="['Home']" [active_item]="'New Invoice'">
      </app-breadcrumb>
    </div>

    <mat-horizontal-stepper linear>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <!-- Look Up-->
        <mat-step label="Applicant Details">

          <div class="row" #applicationDetails>
            <div class="row">
              <div class="row" style=" color: white;">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Search By:</mat-label>
                    <mat-select formControlName="accountNumber">
                      <mat-option value="accountNumber">Account Number</mat-option>
                      <mat-option value="cifId">CIF ID</mat-option>
                      <mat-option value="nationalId">National ID</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Enter Value</mat-label>
                    <input matInput formControlName="accountNumber" type="number">
                    <mat-icon matSuffix (click)="openLookup()">search</mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <!-- Applicant details -->
            <p class="stepHeading">Applicant Details:</p>
            <div class="row" #applicationDetails>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Account Number</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="accountNumber" type="number">
                </mat-form-field>

                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                  *Account Number is required</mat-hint>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Customer's CIF ID</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="cifId" >
                  <!-- <mat-icon matSuffix>search</mat-icon> -->
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('cifId').invalid && applicationForm.get('cifId').touched">
                  *Customer CIF is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>National ID</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="nationalId" type="number">
                  <!-- <mat-icon matSuffix>search</mat-icon> -->
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('nationalId').invalid && applicationForm.get('nationalId').touched">
                  *Customer's national ID is required</mat-hint>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Account Name</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="accountName" type="name">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('accountName'). invalid && applicationForm.get('accountName').touched">
                  *Account Name is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Currency</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="currency" type=text>
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('currency').invalid && applicationForm.get('currency').touched">
                  *Please specify the currency</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Email</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="email" type="email">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('email').invalid && applicationForm.get('email').touched">
                  *Enter valid email address</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Phone Number</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="phoneNumber" type="tel">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('phoneNumber').invalid && applicationForm.get('phoneNumber').touched">
                  *Phone Number is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Address</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="address" type="text">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('address').invalid && applicationForm.get('address').touched">
                  *Address is mandatory</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>City</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="city">
                </mat-form-field>
                <mat-hint *ngIf="applicationForm.get('city').invalid && applicationForm.get('city').touched">
                  *City is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Postal Code</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="postalCode">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('postalCode').invalid && applicationForm.get('postalCode').touched">
                  *Postal code is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Country Code</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="countryCode" type="text">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('countryCode').invalid && applicationForm.get('countryCode').touched">
                  *Country code is required</mat-hint>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-label>Country</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput formControlName="country" type="text">
                </mat-form-field>
                <mat-hint style="color: red;"
                  *ngIf="applicationForm.get('country').invalid && applicationForm.get('country').touched">
                  *Applicant's country is required</mat-hint>
              </div>
            </div>
            <div>
              <span style="margin-right: 90%;"></span>
              <button style="background-color: #ad3b3a;" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>

        <!-- 2.invoice details -->
        <mat-step label="Invoice Details" >
          <p  style="color: maroon; font-size: 16px;font-weight: bold;">Invoice Details:</p>  
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Invoice Number <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput placeholder="Invoice Number" formControlName="invoiceNumber" type="text" >
             </mat-form-field>
               <small
               *ngIf="applicationForm.get('invoiceNumber').invalid && applicationForm.get('invoiceNumber').touched">
               *Invoice No. is required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label> Invoice Amount <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="invoiceAmount" type="number">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('invoiceAmount').invalid && applicationForm.get('invoiceAmount').touched">
              *Invoice Amount  required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Company Name <span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="applicantBusinessName" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('applicantBusinessName').invalid && applicationForm.get('applicantBusinessName').touched">
              *Company name is a required field</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Company Address <span class="required">*</span></mat-label>
              <mat-form-field class="full-width" style=" display:flex; flex-direction:row;white-space:nowrap;"
                appearance="outline">
                <input matInput formControlName="applicantBusinessAddress" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('applicantBusinessAddress').invalid && applicationForm.get('applicantBusinessAddress').touched">
              *Enter Business Address</small>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <mat-label> Invoice Date <span class="required">*</span></mat-label>
                <input matInput placeholder="Enter the Invoice Date" formControlName="invoiceDate" type="date">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('invoiceDate').invalid && applicationForm.get('invoiceDate').touched">
              *Select the Invoice date</small>
            </div><br>
            <br>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <mat-label> Due Date <span class="required">*</span></mat-label>
                <input matInput formControlName="dueDate" type="date">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('dueDate').invalid && applicationForm.get('dueDate').touched">
              *Select the due date</small>
            </div>
            <br>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="Upload invoices">Upload Invoices <span class="required">*</span></label>
              <input matInput type="file" multiple accept=".pdf" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Upload Application Form <span class="required">*</span></label>
              <input matInput type="file" multiple accept=".pdf" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>

            <div  formArrayName="additionalInvoices">
              <p style="color: maroon; font-weight: bold;">For Additional Invoices:</p>
              <div *ngFor="let inv of applicationForm.get('additionalInvoices')['controls']; let i = index"
                [formGroupName]="i">             
                <div>
                  <label style="color: black;font-weight: bold;">Invoice {{i + 2}}</label>
                  <table border="1" class="invTable" style="width: 100%;">
                    <thead>
                      <tr *ngFor="let row of [1, ]; let i = index">
                        <th>Invoice No.</th>
                        <th>Invoice Amount</th>
                        <th>Company Name</th>
                        <th>Business Address</th>
                        <th>Upload Invoices</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Row 1 -->
                      <tr *ngFor="let row of  [1, ];">
                        <td><input type="text" formControlName="{{ row.formControlName }}"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input matInput type="file" multiple accept=".pdf" (change)="onFileSelected($event)">
                          <div *ngFor="let file of selectedFiles">
                            {{ file.name }}
                          </div>
                        </td>
                    
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                      <tr *ngFor="let row of [1 ]; let i = index">
                        <th>Invoice Date</th>
                        <th>Due Date</th>
                    
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Row 1 -->
                      <tr *ngFor="let row of  [1,   ];">
                        <!-- <td><input type="text" formControlName="{{ row.formControlName }}"></td> -->
                        <td><input type="date"></td>
                        <td><input type="date"></td>
                     
  
                      </tr>
                    
                    </tbody>
                  </table>
  
     
                  <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addRowbtn1()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
  
                  <br>
  
  
                </div>
  
  
              </div>
            </div>

            <br>

          </div>





          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious >Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;"  mat-button matStepperNext>Next</button>
          </div>
        </mat-step>


        <!--3. Importer Details -->
        <mat-step label="Importer Details">
          <p style="color: maroon; font-size: 16px; font-weight: bold;">Importer / Buyer's Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Full Name <span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerName" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('buyerName').invalid && applicationForm.get('buyerName').touched">
                *Enter the Importer's name
              </small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Business Name <span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerBusinessName" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('buyerBusinessName').invalid && applicationForm.get('buyerBusinessName').touched">
                *Business name required
              </small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email Address <span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerEmailAddress" type="email">
              </mat-form-field>
              <small *ngIf="applicationForm.get('buyerEmailAddress').invalid && applicationForm.get('buyerEmailAddress').touched">
                *Email required
              </small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country<span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <mat-select formControlName="buyerCountry" [(ngModel)]="selectedCountry" (selectionChange)="onCountrySelect($event.value)">
                  <input matInput style="font-size:14px; height: 50px; padding-top: 10px; padding-bottom: 10px;" placeholder="Type to search countries" formControlName="countryFilter">
                  <mat-option value="" disabled>--Select Country--</mat-option>
                  <mat-option *ngFor="let country of filteredCountries" [value]="country">{{ country }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City<span class="required">*</span></mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerCity" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label>
              <mat-form-field style="display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerAddress" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('buyerAddress').invalid && applicationForm.get('buyerAddress').touched">
                *Applicant's address is required
              </small>
            </div>
          </div>
          <p style="color: maroon; font-weight: bold;">Multiple importers:</p>
          <div *ngFor="let importer of applicationForm.get('importerDetails')['controls']; let i = index" [formGroupName]="i">
            <label style="color: black;font-weight: bold;">Importer {{ i + 2 }}</label>
            <table border="1" class="invTable">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Business Name</th>
                  <th>Country</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" formControlName="fullName"></td>
                  <td><input type="text" formControlName="email"></td>
                  <td><input type="text" formControlName="buyerBusinessName"></td>
                  <td><input type="text" formControlName="importerCountry"></td>
                  <td><input type="text" formControlName="importerCity"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addRowbtn2()">
            <mat-icon class="col-white">add</mat-icon>
          </button>
          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        
        <!-- 4.Additional Documents  -->
        <mat-step label="Additional Documents">

          <p class="stepHeading">Documents Section:</p>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Valid Business Permit/Trading license <span
                  class="required">*</span></label>
              <input matInput type="file" id="businessPermit" multiple accept=".pdf" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Delivery Notes/ Purchase Orders<span class="required">*</span></label>
              <input matInput type="file" id="deliveryNote" multiple accept=".pdf" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Credit Appraisal Form<span class="required">*</span></label>
              <input matInput type="file" id="creditAppraisalForm" multiple accept=".pdf" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Business Registration Identification <span class="required">*</span></label>
              <input matInput type="file" multiple accept=".pdf" id="businessRegistration" (change)="onFileSelected($event)">
              <div *ngFor="let file of selectedFiles">
                {{ file.name }}
              </div>
            </div>


          </div>


          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;" mat-button (click)="onSubmit()" matStepperSubmit>Submit</button>
          </div>
        </mat-step>


      </form>
    </mat-horizontal-stepper>
  </div>
</section>
