<div class="top-bar">
  <input type="search">
</div>
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Invoice Discounting'" [items]="['Home']" [active_item]="'New Invoice'">
      </app-breadcrumb>
    </div>

    <mat-horizontal-stepper linear>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <!-- Applicant's Details -->
        <mat-step label="Applicant Details">
          <p style="color: maroon; font-weight: bold;">Applicant Details:</p>
          <div class="row" #applicationDetails>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Number" formControlName="accountNumber" type="text">
                <mat-icon matSuffix (click)="openLookup()">search</mat-icon>
              </mat-form-field>

              <br>
              <small
                *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                *Account Number is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Customer's CIF ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="CIF ID" formControlName="cifId" type="string">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                *CIF ID is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>National ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter customer's ID" formControlName="nationalId" type="string">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <small *ngIf="applicationForm.get('nationalId').invalid && applicationForm.get('nationalId').touched">
                *Customer's national ID is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="accountName" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('accountName'). invalid && applicationForm.get('accountName').touched">
                *Account Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Currency" formControlName="currency" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('currency').invalid && applicationForm.get('currency').touched">
                *Please specify the currency</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <small *ngIf="applicationForm.get('email').invalid && applicationForm.get('email').touched">
                *Enter valid email address</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" type="tel">
              </mat-form-field>
              <small *ngIf="applicationForm.get('phoneNumber').invalid && applicationForm.get('phoneNumber').touched">
                *Phone Number is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="address" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('address').invalid && applicationForm.get('address').touched">
                *Address is mandatory</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('city').invalid && applicationForm.get('city').touched">
                *City is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Postal Code" formControlName="postalCode" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('postalCode').invalid && applicationForm.get('postalCode').touched">
                *Postal code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country Code" formControlName="countryCode" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('countryCode').invalid && applicationForm.get('countryCode').touched">
                *Country code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country" formControlName="country" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('country').invalid && applicationForm.get('country').touched">
                *Applicant's country is required</small>
            </div>
            <div>
              <button style="background-color: #ad3b3a;" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>

        <!-- 2.invoice details -->
        <mat-step label="Invoice Details">
          <p  style="color: maroon; font-weight: bold;">Invoice Details:</p>  
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Invoice Number <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput placeholder="Invoice Number" formControlName="invoiceNumber" type="text" >
             </mat-form-field>
               <small
               *ngIf="applicationForm.get('invoiceNumber').invalid && applicationForm.get('invoiceNumber').touched">
               *Invoice No. is required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label> Invoice Amount <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="invoiceAmount" type="number">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('invoiceAmount').invalid && applicationForm.get('invoiceAmount').touched">
              *Invoice Amount  required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Company Name <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="applicantBusinessName" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('applicantBusinessName').invalid && applicationForm.get('applicantBusinessName').touched">
              *Company name is a required field</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Company Address <span class="required">*</span></mat-label>
              <mat-form-field class="full-width" style=" display:flex; flex-direction:row;white-space:nowrap;"
                appearance="outline">
                <input matInput formControlName="applicantBusinessAddress" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('applicantBusinessAddress').invalid && applicationForm.get('applicantBusinessAddress').touched">
              *Enter Business Address</small>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <mat-label> Invoice Date <span class="required">*</span></mat-label>
                <input matInput placeholder="Enter the Invoice Date" formControlName="invoiceDate" type="date">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('invoiceDate').invalid && applicationForm.get('invoiceDate').touched">
              *Select the Invoice date</small>
            </div><br>
            <br>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <mat-label> Due Date <span class="required">*</span></mat-label>
                <input matInput formControlName="dueDate" type="date">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('dueDate').invalid && applicationForm.get('dueDate').touched">
              *Select the due date</small>
            </div>
            <br>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="Upload invoices">Upload Invoices <span class="required">*</span></label>
              <input type="file" formControlName="invoices">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="application form">Upload Application Form <span class="required">*</span></label>
              <input type="file" formControlName="invoices">
            </div>

            <div  formArrayName="additionalInvoices">
              <p style="color: maroon; font-weight: bold;">For Additional Invoices:</p>
              <div *ngFor="let inv of applicationForm.get('additionalInvoices')['controls']; let i = index"
                [formGroupName]="i">             
                <div>
                  <label style="color: black;font-weight: bold;">Invoice {{i + 2}}</label>
                  <table border="1" class="invTable" style="width: 100%;">
                    <thead>
                      <tr *ngFor="let row of [1, ]; let i = index">
                        <th>Invoice No.</th>
                        <th>Invoice Amount</th>
                        <th>Company Name</th>
                        <th>Business Address</th>
                        <th>Upload Invoices</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Row 1 -->
                      <tr *ngFor="let row of  [1, ];">
                        <td><input type="text" formControlName="{{ row.formControlName }}"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input matInput type="file" multiple accept=".pdf" (change)="onFileSelected($event)">
                          <div *ngFor="let file of selectedFiles">
                            {{ file.name }}
                          </div>
                        </td>
                    
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                      <tr *ngFor="let row of [1 ]; let i = index">
                        <th>Invoice Date</th>
                        <th>Due Date</th>
                    
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Row 1 -->
                      <tr *ngFor="let row of  [1,   ];">
                        <!-- <td><input type="text" formControlName="{{ row.formControlName }}"></td> -->
                        <td><input type="date"></td>
                        <td><input type="date"></td>
                     
  
                      </tr>
                    
                    </tbody>
                  </table>
  
     
                  <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addRowbtn1()">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
  
                  <br>
  
  
                </div>
  
  
              </div>
            </div>



            <!-- Importer details -->
         
            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label > KRA Number</mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
            
                <input matInput formControlName="taxIdentificationNumber" type="number">
              </mat-form-field>
             </div> -->
            <br>


            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label >Invoice status</mat-label>
              <mat-form-field appearance="outline">
                <mat-select [(value)]="selected">
                  <mat-option value="created" formControlName="status">Created</mat-option>
                  <mat-option value="approved" formControlName="status">Approved</mat-option>
                  <mat-option value="funded" formControlName="status">Funded</mat-option>
                  <mat-option value="paid" formControlName="status">Paid</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
          </div>





          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious >Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>


        <!--3. Importer Details -->
        <mat-step label="Importer Details" >
        
          <p style="color: maroon; font-weight: bold;">Importer / Buyer's Details:</p>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Full Name <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerName" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('buyerName').invalid && applicationForm.get('buyerName').touched">
              *Enter the Importer's name</small>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>Business Name <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerBusinessName" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('buyerBusinessName').invalid && applicationForm.get('buyerBusinessName').touched">
              *Business name required</small>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label> Email Address<span class="required">*</span> </mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerEmailAddress" type="email">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('buyerEmailAddress').invalid && applicationForm.get('buyerEmailAddress').touched">
              *Email required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label> Country<span class="required">*</span> </mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerCountry" type="email">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('buyerCountry').invalid && applicationForm.get('buyerCountry').touched">
              *Country is required</small>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <mat-label>City <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="buyerCity" type="text">
              </mat-form-field>
              <small
              *ngIf="applicationForm.get('buyerCity').invalid && applicationForm.get('buyerCity').touched">
              *City required</small>
            </div>
            <div style="display: flex;" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <input type="checkbox" style="margin-right: 10px;" formControlName="terms_and_condition">
              <div>
                <label style="margin-top: 5px;">I agree to terms & conditions<span class="required">*</span></label>
              </div>
            </div>

          </div>






          <div *ngFor="let inv of applicationForm.get('importerDetails')['controls']; let i = index"
            [formGroupName]="i">
            <p style="color: maroon; font-weight: bold;">Multiple importers:</p>
            <label style="color: black;font-weight: bold;">Importer {{i + 2}}</label>
            <table border="1" class="invTable" >
              <thead>
                <tr>

                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Business Name</th>
                  <th>Country</th>
                  <th>City</th>

                </tr>
              </thead>
              <tbody>
                <!-- Row 1 -->
                <tr *ngFor="let row of  [1, ];">
                  <td><input type="text" formControlName="{{ row.formControlName }}"></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>

                </tr>
                <br>

              </tbody>
            </table>
          </div>
          <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addRowbtn2()">
            <mat-icon class="col-white">add</mat-icon>
          </button>
          <br>
          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;" mat-button matStepperNext>Next</button>
          </div>


        </mat-step>
        <!-- 4.Funding Details -->
        <mat-step label="funding details">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Proposed Funding Amount <span class="required">*</span> </mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="fundingAmount" type="number">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Credit limit <span class="required">*</span></mat-label>
              <mat-form-field class="full-width" style=" display:flex; flex-direction:row;white-space:nowrap;"
                appearance="outline">
                <input matInput formControlName="creditLimit" type="number">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Credit Account <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="creditAccount" type="number">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Proposed Disbursal Date <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="disbursalDate" type="date">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Re-Payment Date <span class="required">*</span></mat-label>
              <mat-form-field style=" display:flex; flex-direction:row;white-space:nowrap;" appearance="outline">
                <input matInput formControlName="repaymentDate" type="date">
              </mat-form-field>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
              <label for="Upload invoices">Upload Credit Appraisal Form <span class="required">*</span></label>
              <input type="file" formControlName="creditAppraisalForm">
            </div>

          </div>
          <div>
            <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
            <span style="margin-right: 745px;"></span>
            <button style="background-color: #ad3b3a;" mat-button (click)="onSubmit()" matStepperSubmit>Submit</button>
          </div>
        </mat-step>

       
      </form>
    </mat-horizontal-stepper>
  </div>
</section>