.float-start{
    color: white;
    font-size: 30px;
  }

  .bg-kingdom {
    // background: linear-gradient(to left, #004400, #002200);
    background: linear-gradient(90deg, rgb(73, 8, 7) 0%, #7f0101 50%);
  }
  
  