<div class="row">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
  
  
      <h2 mat-dialog-title>Add New Checkers</h2>
      <mat-dialog-content>
        
      
      <div class="col-xl-6  col-lg-6  col-md-6 col-sm-6  mb-2">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Name" name="name" ngModel required>
          </mat-form-field>
        </div>
      
          
      <div class="col-xl-6  col-lg-6  col-md-6 col-sm-6  mb-2">
          <mat-form-field appearance="outline">
            <input matInput placeholder="EmployeeId" name="name" ngModel required>
          </mat-form-field>
          </div>
                  
      <div class="col-xl-6  col-lg-6  col-md-6 col-sm-6  mb-2">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" name="Email" ngModel required>
        </mat-form-field>
        </div>
          
      
      
          <mat-form-field appearance="outline">
            <input matInput placeholder="Branch Name" name="branchName" ngModel required>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <input matInput placeholder="Branch Code" name="branchCode" ngModel required>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
      
      
        
            
            <input matInput placeholder="Status" name="status" ngModel required>
            <mat-select  matSuffix placeholder="Status" name="status" [(ngModel)]="selectedStatus" required>
              <mat-option value="active">Active</mat-option>
              <mat-option value="flagged">Flagged</mat-option>
            </mat-select>
            
          </mat-form-field>
       </mat-dialog-content> <br>
        <mat-dialog-actions>
          <button style="color: white;background-color: rgb(126, 7, 7);" mat-button (click)="onClose()">Cancel</button>
          <button style="color: white;background-color: rgb(126, 7, 7);" mat-button [disabled]="form.invalid" (click)="onSubmit()">Add</button>
        </mat-dialog-actions>
      
        </form>
   
      
      </div>
      
  
