<!-- <p>modify works!</p> -->
<div class="conteiner">
  <h1>TRANSACTION MODIFICATION AND AMENDMENTS</h1>
<form [formGroup]="searchForm" (ngSubmit)=" onsubmit()">
  <div>
    <label for="searchCriteria">Search by:</label>
    <select formControlName="searchCriteria" id="searchCriteria">
      <option value="id">ID</option>
      <option value="email">Email</option>
      <option value="name">Name</option>
      <option value="name">Businessname</option>
      <option value="name">Account no</option>
    </select>
  </div>
  <br>
  <div>
    <label for="searchTerm">Enter selected:</label>
    <input type="text" formControlName="searchTerm" id="searchTerm">
  </div> 
  <br>
  <div>
    <button>search</button>
  </div>
  <button (click)="onModify()">Modify/Amend</button>
</form>


</div>