<section class="content">

  <div class="content-block">

<!-- 
<div class="lookup" >
<div>
  <select [(ngModel)]="searchOption">
    <option value="ID">Search by LCNO</option>
    <option value="Account">Search by AccountNO</option>
  </select>
</div>
<br>
 <div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Enter search term...">
</div>
<br>
<div *ngif="">
  <button (click)="handleSearchClick()" type='submit'>Search</button>
</div>
</div> -->

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <select formControlName="criteria">
    <option value="id">ID</option>
    <br>
    <option value="lcno">LCNO</option>
    <br>
    <option value="accountNo">Account No</option>
    <br>
  </select>
  <input type="text" formControlName="value" placeholder="Enter search value">
  <button (click)="handleSearchClick()" type="submit">Search</button>
</form>

<div *ngIf="searchResults">
  <!-- Display search results here -->
</div>


<!-- end -->

    <div class="block-header">

      <app-breadcrumb [title]="'LC'" [items]="['Home']" [active_item]="'Modify LC'">
      </app-breadcrumb>
    </div>
    <form [formGroup]="modificationForm">
      <p style="color: maroon; font-weight: bold;">LC Details:</p>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>LC Number:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="LC Number" formControlName="lcNumber" type="text">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>LC Type</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="LC Type" formControlName="lcType" type="text">
          </mat-form-field>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Applicable Rules</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Applicable Rules" formControlName="applicableRules" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Currency Code</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Currency Code" formControlName="currencyCode" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Amount</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Amount" formControlName="amount" type="number">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Expiry Date</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Expiry Date" formControlName="expiryDate" type="date">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Charges Borne By:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Charges Borne By" formControlName="chargesBorneBy" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Negotiation Period</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Negotiation Period" formControlName="negotiationPeriod" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Issue Date:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Issue Date" formControlName="issueDate" type="date">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Tenor:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Tenor" formControlName="tenor" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Tranferable:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="transferable" formControlName="transferable" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Confirm:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="confirm" formControlName="confirm" type="text">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
          <mat-label>Advise:</mat-label>
          <br>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="advise" formControlName="advise" type="text">
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button type="reset" class="btn btn-secondary">Cancel</button>
          <button mat-raised-button (click)="onModify()" class="btn" style="margin: 20px;">Submit</button>

        </div>
      </div>
    </form>