<!-- <p>modify works!</p> -->
<div class="conteiner">
  <b>MODIFY OR AMEND LC</b>
<form [formGroup]="searchForm" (ngSubmit)=" onsubmit()">
  <div>
    <label for="searchCriteria">Search by:</label>
    <select formControlName="searchCriteria" id="searchCriteria">
      <option value="id">ID</option>
      <option value="name">Name</option>
      <option value="name">lc no</option>
      <option value="name">Account no</option>
    </select>
  </div>
  <br>
  <div>
    <label for="searchTerm">Enter selected:</label>
    <input type="text" formControlName="searchTerm" id="searchTerm">
  </div> 
  <br>
  <div>
    <button>search</button>
  </div>
 
</form>


</div>