<!-- Widgets -->
<div class="row" > 
          
    <div class="col-lg-4 col-sm-6" id="widget1">
      <div class="info-box7 bg-kingdom order-info-box7" style="background-color: maroon;border-radius: 5px;">
          <div class="info-box7-block">
              <p class="m-b-20 bold">USERS</p>
              <h2 class="text-end"><span class="float-start" >0</span><i
                  class="fab fa-buromobelexperte" style="color:white"></i>
              </h2>
              <a [routerLink]="'/users/view-roles'" style="color: white;">Click for more details!</a>
          </div>
      </div>
  </div>

      <div class="col-lg-4 col-sm-6" id="widget1">
          <div class="info-box7 bg-kingdom order-info-box7" style="background-color: maroon;border-radius: 5px;">
              <div class="info-box7-block">
                  <p class="m-b-20 bold">TRANSACTIONS</p>
                  <h2 class="text-end"><span class="float-start" >0</span><i
                      class="fab fa-buromobelexperte" style="color:white"></i>
                  </h2>
                  <a [routerLink]="'/admin/dashboard/view'" style="color: white;">Click for more details!</a>
              </div>
          </div>
      </div>
  
      <div class="col-lg-4 col-sm-6" id="widget2">
          <div class="info-box7 bg-kingdom order-info-box7"style="background-color: maroon;border-radius: 5px;">
              <div class="info-box7-block">
                  <p class="m-b-20 bold">ACTIVE LOGS</p>
                  <h2 class="text-end"><span class="float-start">0</span><i
                          class="fab fa-buromobelexperte" style="color:white"></i></h2>
                  <a [routerLink]="'/admin/dashboard/view'" style="color: white;">Click for more details!</a>
              </div>
          </div>
      </div>
  </div>
 
  

<!-- #END# Widgets -->