<div class="row">



    <h2 mat-dialog-title>Add New Makers</h2>
    <mat-dialog-content>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
    
    <div class="col-xl-6  col-lg-6  col-md-6 col-sm-6  mb-2">
        <mat-form-field>
          <input matInput placeholder="Name" name="name" ngModel required>
        </mat-form-field>
      </div>
    
        
    <div class="col-xl-6  col-lg-6  col-md-6 col-sm-6  mb-2">
        <mat-form-field>
          <input matInput placeholder="EmployeeId" name="name" ngModel required>
        </mat-form-field>
        </div>
        
    
    
        <mat-form-field>
          <input matInput placeholder="Branch Name" name="branchName" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Branch Code" name="branchCode" ngModel required>
        </mat-form-field>
    
        <mat-form-field>
    
    
      
          
          <input matInput placeholder="Status" name="status" ngModel required>
          <mat-select  matSuffix placeholder="Status" name="status" [(ngModel)]="selectedStatus" required>
            <mat-option value="active">Active</mat-option>
            <mat-option value="flagged">Flagged</mat-option>
          </mat-select>
          
        </mat-form-field>
    
    
    
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Add</button>
    </mat-dialog-actions>
    
    </div>
    
