<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Bank Guarantee'" [items]="['Home']" [active_item]="'New LC'">
      </app-breadcrumb>
    </div>

    <mat-horizontal-stepper linear>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit">
        <!-- Step 1: Applicant Details -->
        <mat-step label="Applicant details">
          <p style="color: maroon; font-weight: bold;">Applicant Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Number" formControlName="accountNumber" type="text">
                <mat-icon matSuffix (click)="openLookup()">search</mat-icon>
              </mat-form-field>
              <div>
                <small
                  *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                  *Account number is required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Customer's CIF ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="CIF ID" formControlName="cifId" type="text">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('cifId').invalid && applicationForm.get('cifId').touched">
                  *CIF ID required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>National ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="National ID" formControlName="nationalId" type="text">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('nationalId'). invalid && applicationForm.get('nationalId').touched">
                  *National ID is required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="accountName" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('accountName').invalid && applicationForm.get('accountName').touched">
                  *Account Name is mandatory</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Currency" formControlName="currency" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('currency').invalid && applicationForm.get('currency').touched">
                  *Currency is required</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('email').invalid && applicationForm.get('email').touched">
                  *Enter a valid email address</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('phoneNumber').invalid && applicationForm.get('phoneNumber').touched">
                  *Phone number is required</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="address" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('address').invalid && applicationForm.get('address').touched">
                  *Address is required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Postal Code" formControlName="postalCode" type="number">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('postalCode').invalid && applicationForm.get('postalCode').touched">
                  *Postal Code is required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('city').invalid && applicationForm.get('city').touched">
                  *City Name is required</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country Code" formControlName="countryCode" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('countryCode').invalid && applicationForm.get('countryCode').touched">
                  *Country Code is required</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country" formControlName="country" type="text">
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('country').invalid && applicationForm.get('country').touched">
                  *Applicant's country is mandatory</small>
              </div>
            </div>
            <div>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!--Step 2: Beneficiary Details-->
        <mat-step label="Beneficiary Details">
          <p style="color: maroon; font-weight: bold;">Beneficiary Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="First Name" formControlName="beneficiaryFirstName" type="text">
              </mat-form-field>
              <div>
                <small
                  *ngIf="applicationForm.get('beneficiaryFirstName'). invalid && applicationForm.get('beneficiaryFirstName').touched">
                  *Beneficiary First Name is required</small>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Middle Name" formControlName="beneficiaryMiddleName" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Last Name" formControlName="beneficiaryLastName" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryLastName'). invalid && applicationForm.get('beneficiaryLastName').touched">
                *Beneficiary Last Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="beneficiaryAddress" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAddress'). invalid && applicationForm.get('beneficiaryAddress').touched">
                *Beneficiary Address is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="beneficiaryEmail" type="email">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryEmail'). invalid && applicationForm.get('beneficiaryEmail').touched">
                *Beneficiary Email is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="beneficiaryPhoneNumber" type="tel">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryPhoneNumber'). invalid && applicationForm.get('beneficiaryPhoneNumber').touched">
                *Beneficiary Phone Number is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="beneficiaryAccountName" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAccountName'). invalid && applicationForm.get('beneficiaryAccountName').touched">
                *Beneficiary Account Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Number" formControlName="beneficiaryAccountNumber" type="number">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAccountNumber'). invalid && applicationForm.get('beneficiaryAccountNumber').touched">
                *Beneficiary Account Number is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bank Name" formControlName="beneficiaryBank" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryBank'). invalid && applicationForm.get('beneficiaryBank').touched">
                *Beneficiary Bank Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="SWIFT Code" formControlName="beneficiarySwiftCode" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiarySwiftCode'). invalid && applicationForm.get('beneficiarySwiftCode').touched">
                *Swift Code is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="beneficiaryCity" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryCity'). invalid && applicationForm.get('beneficiaryCity').touched">
                *Beneficiary City is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>


        <!-- Step 3: Guarantee Details -->
        <mat-step label="Guarantee Details">
          <p style="color: maroon; font-weight: bold;">Guarantee Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Type</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="type">
                  <mat-option value="inward">Inward Guarantee</mat-option>
                  <mat-option value="outward">Outward Guarantee</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <small *ngIf="applicationForm.get('type'). invalid && applicationForm.get('type').touched">
                  *Main type is mandatory</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Guarantee Type</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeType">
                  <mat-option value="financial">Financial</mat-option>
                  <mat-option value="perfomance">Perfomance</mat-option>
                  <mat-option value="bidBond">Bid Bond</mat-option>
                  <mat-option value="deferred">Deferred Payment</mat-option>
                  <mat-option value="shipping">Shipping</mat-option>
                  <mat-option value="solvencyCertificate">Solvency Certificate</mat-option>
                  <mat-option value="advancePayment">Advance Payment</mat-option>
                  <mat-option value="retensionMoney">Retention Money</mat-option>
                  <mat-option value="others">Others</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <small
                  *ngIf="applicationForm.get('guaranteeType'). invalid && applicationForm.get('guaranteeType').touched">
                  *Guarantee type is required</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Purpose</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="purpose" formControlName="purpose" type="text">
              </mat-form-field>

              <br>
              <small *ngIf="applicationForm.get('purpose').invalid && applicationForm.get('purpose').touched">
                *Guarantee Purpose is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Additional Information</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Additional Information" formControlName="additionalInformation"
                  type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank ID</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bank ID" formControlName="bankId" type="text">
              </mat-form-field>

              <br>
              <small *ngIf="applicationForm.get('bankId').invalid && applicationForm.get('bankId').touched">
                *Bank ID is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Guarantee Amount" formControlName="guaranteeAmount" type="text">
              </mat-form-field>

              <br>
              <small
                *ngIf="applicationForm.get('guaranteeAmount').invalid && applicationForm.get('guaranteeAmount').touched">
                *Guarantee Amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Guarantee Amount" formControlName="guaranteeAmount" type="text">
              </mat-form-field>

              <br>
              <small
                *ngIf="applicationForm.get('guaranteeAmount').invalid && applicationForm.get('guaranteeAmount').touched">
                *Guarantee Amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeCurrency">
                  <mat-option value="usd">USD</mat-option>
                  <mat-option value="gbp">GBP</mat-option>
                  <mat-option value="cny">CNY</mat-option>
                  <mat-option value="eur">EUR</mat-option>
                  <mat-option value="jpy">JPY</mat-option>

                </mat-select>
              </mat-form-field>
              <div>
                <small
                  *ngIf="applicationForm.get('guaranteeCurrency'). invalid && applicationForm.get('guaranteeCurrency').touched">
                  *Currency type is mandatory</small>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency Rate:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Currency rate" formControlName="currencyRate" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('currencyRate'). invalid && applicationForm.get('currencyRate').touched">
                *Current currency Rate is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Expiry Date" formControlName="expiryDate" type="date">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('expiryDate'). invalid && applicationForm.get('expiryDate').touched">
                *Expiry Date is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Validity Period:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Validity Period in months" formControlName="validityPeriod" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('validityPeriod'). invalid && applicationForm.get('validityPeriod').touched">
                *Validity Period is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Maximum Claim Period:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter maxClaim period" formControlName="maxClaimPeriod" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('maxClaimPeriod'). invalid && applicationForm.get('maxClaimPeriod').touched">
                *Maximum Claim Period is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Applicable Rules</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="applicableRules">
                  <mat-option value="urdg">URDG</mat-option>
                  <mat-option value="ispr"> ISPR</mat-option>
                  <mat-option value="othr">OTHR</mat-option>
                  <mat-option value="none">NONE</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('applicableRules'). invalid && applicationForm.get('applicableRules').touched">
                *Please select the applicable rules</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Counter Guarantee Status </mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="counterGuaranteeStatus">
                  <mat-option value="yes">YES</mat-option>
                  <mat-option value="no"> NO</mat-option>

                </mat-select>
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('counterGuaranteeStatus'). invalid && applicationForm.get('counterGuaranteeStatus').touched">
                *Please select the applicable rules</small>
            </div>
            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Status </mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeStatus ">
                  <mat-option value="issuedN">Issued but not effective</mat-option>
                  <mat-option value="issuedE"> Issued and effective</mat-option>
                  <mat-option value="extended"> Extended</mat-option>
                  <mat-option value="marked"> Marked for invocation</mat-option>
                  <mat-option value="invoked"> Invoked</mat-option>
                  <mat-option value="reversed"> Reversed</mat-option>
                  <mat-option value="closed"> Closed</mat-option>
                  <mat-option value="closedA"> Closed after invocation</mat-option>
                  <mat-option value="utilisedB">Utilised by bill</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('guaranteeStatus '). invalid && applicationForm.get('guaranteeStatus ').touched">
                *Specify guarantee Status</small>
            </div> -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Charges Borne By:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Charges Borne By</mat-label>
                <mat-select formControlName="chargesBorneBy">
                  <mat-option value="" disabled>Select Charges Borne By</mat-option>
                  <mat-option value="applicant">Applicant</mat-option>
                  <mat-option value="beneficiary">Beneficiary</mat-option>
                  <mat-option value="both">Both</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Provision amount:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter provision amount" formControlName="provisionAmount" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('provisionAmount'). invalid && applicationForm.get('provisionAmount').touched">
                *Maximum Claim Period is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Step 4: Counter Guarantee Details -->
        <mat-step label="Counter Guarantee Details">
          <p style="color: maroon; font-weight: bold;">Counter Guarantee Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Number</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter guarantee No." formControlName="guaranteeNo" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('guaranteeNo'). invalid && applicationForm.get('guaranteeNo').touched">
                *Guarantee No. is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter guarantee Amount." formControlName="counterGuaranteeAmount"
                  type="number">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('counterGuaranteeAmount'). invalid && applicationForm.get('counterGuaranteeAmount').touched">
                *Guarantee amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter Expiry Date" formControlName="expiryDate" type="date">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('expiryDate'). invalid && applicationForm.get('expiryDate').touched">
                *Expiry Date is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Claim Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter Claim Expiry Date" formControlName="claimExpiryDate" type="date">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('claimExpiryDate'). invalid && applicationForm.get('claimExpiryDate').touched">
                *Claim Expiry Date is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Swift Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter Swift code" formControlName="swiftCode" type="date">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('swiftCode'). invalid && applicationForm.get('swiftCode').touched">
                *Swift Code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Branch Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="Enter Branch code" formControlName="branchCode" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('branchCode'). invalid && applicationForm.get('branchCode').touched">
                *Branch Code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Remarks</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="remarks" formControlName="remarks" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('remarks'). invalid && applicationForm.get('remarks').touched">
                *remarks is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Counter Guarantee Status</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput placeholder="counter Guarantee Status" formControlName="counterGuaranteeStatus"
                  type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('counterGuaranteeStatus'). invalid && applicationForm.get('counterGuaranteeStatus').touched">
                *remarks is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Step 5: Guarantee Margin Details -->
        <mat-step label="Margin Details">
          <p style="color: maroon; font-weight: bold;">Guarantee Margin Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Type</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="marginType">
                  <mat-option value="cash">Cash</mat-option>
                  <mat-option value="lien">Lien</mat-option>
                </mat-select>
              </mat-form-field>
              <small *ngIf="applicationForm.get('marginType'). invalid && applicationForm.get('marginType').touched">
                *Margin Type is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Amount:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter provision amount" formControlName="provisionAmount" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('provisionAmount'). invalid && applicationForm.get('provisionAmount').touched">
                *Maximum Claim Period is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Account</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter margin Account" formControlName="provisionAmount" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('provisionAmount'). invalid && applicationForm.get('provisionAmount').touched">
                *Margin Account is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Rate</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Collected margin rate" formControlName="collectedMarginRate" type="number">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('collectedMarginRate'). invalid && applicationForm.get('collectedMarginRate').touched">
                *Margin rate is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Collected margin amount" formControlName="collectedMarginAmount"
                  type="number">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('collectedMarginAmount'). invalid && applicationForm.get('collectedMarginAmount').touched">
                *Collected margin amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Release Margin Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Released margin amount" formControlName="releasedMarginAmount"
                  type="number">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('releasedMarginAmount'). invalid && applicationForm.get('releasedMarginAmount').touched">
                *Released margin amount is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Step 6: Security Details -->
        <mat-step label="Security Details">
          <p style="color: maroon; font-weight: bold;">Security Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Type of security</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="security type" formControlName="securityType" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('securityType'). invalid && applicationForm.get('securityType').touched">
                *Security type is mandatory</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Amount of the Security</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="security amount" formControlName="securityAmount" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('securityAmount'). invalid && applicationForm.get('securityAmount').touched">
                *Security amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security currency</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="security amount" formControlName="securityCurrency" type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('securityCurrency'). invalid && applicationForm.get('securityCurrency').touched">
                *Security amount is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Charge Account</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter security account" formControlName="securityChargeAccount"
                  type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('securityChargeAccount'). invalid && applicationForm.get('securityChargeAccount').touched">
                *Security Charge Account is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Description</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Description of the security" formControlName="description" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('description'). invalid && applicationForm.get('description').touched">
                *Description of the security is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Issuer</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Issuer of the security" formControlName="issuer" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('issuer'). invalid && applicationForm.get('issuer').touched">
                *Issuer of the security is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Maturity Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter Maturity date of the security" formControlName="maturityDate"
                  type="date">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('maturityDate'). invalid && applicationForm.get('maturityDate').touched">
                *Maturity date of the security is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Rating</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter the rating of the security" formControlName="securityRating"
                  type="text">
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('securityRating'). invalid && applicationForm.get('securityRating').touched">
                *Maturity date of the security is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!--Step 7: Goods and Shipment Details Details-->
        <mat-step label=" Goods and Shipment Details">
          <p style="color: maroon; font-weight: bold;">Goods and Shipment Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Goods Description" formControlName="goodsDescription" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('goodsDescription'). invalid && applicationForm.get('goodsDescription').touched">
                *Goods Description is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Quantity" formControlName="quantityValue" type="number">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('quantityValue'). invalid && applicationForm.get('quantityValue').touched">
                *Quantity Value is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Amount" formControlName="amountID" type="number">
              </mat-form-field>
              <small *ngIf="applicationForm.get('amountID'). invalid && applicationForm.get('amountID').touched">
                *Total Amount is required</small>
            </div>

            <br>

            <br>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country of Origin" formControlName="countryName" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('countryName'). invalid && applicationForm.get('countryName').touched">
                *Country Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Port of Loading" formControlName="portLoading" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('portLoading'). invalid && applicationForm.get('portLoading').touched">
                *Port of Loading is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Port of Discharge" formControlName="portDischarge" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('portDischarge'). invalid && applicationForm.get('portDischarge').touched">
                *Port of Discharge is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Shipment Date" formControlName="shipmentDate" type="date">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('shipmentDate'). invalid && applicationForm.get('shipmentDate').touched">
                *Shipment Date is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bill of Lading/Airway Bill no" formControlName="billOfLading"
                  type="number">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('billOfLading'). invalid && applicationForm.get('billOfLading').touched">
                *Bill no is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Invoice no" formControlName="invoiceNo" type="number">
              </mat-form-field>
              <small *ngIf="applicationForm.get('invoiceNo'). invalid && applicationForm.get('invoiceNo').touched">
                *Invoice no is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

          </form>
    </mat-horizontal-stepper>

  </div>
</section>