<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Bank Guarantee'" [items]="['Home']" [active_item]="'New LC'">
      </app-breadcrumb>
    </div>

    <mat-horizontal-stepper linear>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit">
        <!-- Step 1: Applicant Details -->
        <mat-step label="Applicant details">
          <p class="stepHeading">Applicant Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="accountNumber" type="text">
                <mat-icon matSuffix (click)="openLookup()">search</mat-icon>
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Customer's CIF ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="cifId" type="text">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>             
            </div>




            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>National ID</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput  formControlName="nationalId" type="text">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>         
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput  formControlName="accountName" type="text">
              </mat-form-field>           
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="currency" type="text">
              </mat-form-field>                      
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="email" type="email">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="phoneNumber" type="text">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="address" type="text">
              </mat-form-field>    
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="postalCode" type="number">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="city" type="text">
              </mat-form-field>            
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="countryCode" type="text">
              </mat-form-field>             
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="country" type="text">
              </mat-form-field>            
            </div>


            <div>
              <button class="nextDC" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>

        <!--Step 2: Beneficiary Details-->
        <mat-step label="Beneficiary Details">
          <p class="stepHeading">Beneficiary Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>First Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryFirstName" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Middle Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryMiddleName" type="text">
              </mat-form-field>
            </div>

            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Last Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryLastName" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryEmail" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Beneficiary Phone Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryPhoneNumber" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Beneficiary Address</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryAddressLine1" type="tel">
              </mat-form-field>
            </div>


            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Beneficiary Postal Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryPostalCode" type="text">
              </mat-form-field>
            </div> -->

            <p class="stepHeading">Beneficiary Bank Details</p>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="advisingBankName" type="text">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryCountryCode" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Country</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="advisingBankCountry" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank City</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryCity" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Address</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryBankAddressLine2" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>IBAN</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryIban" type="text">
              </mat-form-field>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>SWIFT Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="advisingBankBic" type="text">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryAccountName" type="text">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="beneficiaryAccountNumber" type="text">
              </mat-form-field>
            </div>

            <div>



              <button class="previousDC" mat-button matStepperPrevious>Back</button>
              <span style="margin-right: 745px;"></span>
              <button class="nextDC" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>





        <!-- Step 3: Guarantee Details -->
        <mat-step label="Guarantee Details">
          <p class="stepHeading">Guarantee Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Type</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="type">
                  <mat-option value="inward">Inward Guarantee</mat-option>
                  <mat-option value="outward">Outward Guarantee</mat-option>
                </mat-select>
              </mat-form-field>
              
              

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Guarantee Type</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeType">
                  <mat-option value="financial">Financial</mat-option>
                  <mat-option value="perfomance">Perfomance</mat-option>
                  <mat-option value="bidBond">Bid Bond</mat-option>
                  <mat-option value="deferred">Deferred Payment</mat-option>
                  <mat-option value="shipping">Shipping</mat-option>
                  <mat-option value="solvencyCertificate">Solvency Certificate</mat-option>
                  <mat-option value="advancePayment">Advance Payment</mat-option>
                  <mat-option value="retensionMoney">Retention Money</mat-option>
                  <mat-option value="others">Others</mat-option>
                </mat-select>
              </mat-form-field>                                  
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Purpose</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="purpose" type="text">
              </mat-form-field>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Additional Information</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="additionalInformation"
                  type="text">
              </mat-form-field>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank ID</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="bankId" type="text">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="guaranteeAmount" type="text">
              </mat-form-field>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="guaranteeAmount" type="text">
              </mat-form-field>              
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeCurrency">
                  <mat-option value="usd">USD</mat-option>
                  <mat-option value="gbp">GBP</mat-option>
                  <mat-option value="cny">CNY</mat-option>
                  <mat-option value="eur">EUR</mat-option>
                  <mat-option value="jpy">JPY</mat-option>

                </mat-select>
              </mat-form-field>             
            </div>


            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency Rate:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="currencyRate" type="text">
              </mat-form-field>       
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="expiryDate" type="date">
              </mat-form-field>              
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Validity Period:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="validityPeriod" type="text">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Maximum Claim Period:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="maxClaimPeriod" type="text">
              </mat-form-field>            
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Applicable Rules</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="applicableRules">
                  <mat-option value="urdg">URDG</mat-option>
                  <mat-option value="ispr"> ISPR</mat-option>
                  <mat-option value="othr">OTHR</mat-option>
                  <mat-option value="none">NONE</mat-option>
                </mat-select>
              </mat-form-field>         
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Counter Guarantee Status </mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="counterGuaranteeStatus">
                  <mat-option value="yes">YES</mat-option>
                  <mat-option value="no"> NO</mat-option>

                </mat-select>
              </mat-form-field>             
            </div>


            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Status </mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="guaranteeStatus ">
                  <mat-option value="issuedN">Issued but not effective</mat-option>
                  <mat-option value="issuedE"> Issued and effective</mat-option>
                  <mat-option value="extended"> Extended</mat-option>
                  <mat-option value="marked"> Marked for invocation</mat-option>
                  <mat-option value="invoked"> Invoked</mat-option>
                  <mat-option value="reversed"> Reversed</mat-option>
                  <mat-option value="closed"> Closed</mat-option>
                  <mat-option value="closedA"> Closed after invocation</mat-option>
                  <mat-option value="utilisedB">Utilised by bill</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <small
                *ngIf="applicationForm.get('guaranteeStatus '). invalid && applicationForm.get('guaranteeStatus ').touched">
                *Specify guarantee Status</small>
            </div> -->


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Charges Borne By:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Charges Borne By</mat-label>
                <mat-select formControlName="chargesBorneBy">
                  <mat-option value="" disabled>Select Charges Borne By</mat-option>
                  <mat-option value="applicant">Applicant</mat-option>
                  <mat-option value="beneficiary">Beneficiary</mat-option>
                  <mat-option value="both">Both</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Provision amount:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="provisionAmount" type="text">
              </mat-form-field>
              
            </div>



            <div style="margin-top: 20px;">
              <button class="previousDC" mat-button matStepperPrevious>Back</button>
              <span style="margin-right: 745px;"></span>
              <button class="nextDC" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Step 4: Counter Guarantee Details -->
        <mat-step label="Counter Guarantee Details">
          <p class="stepHeading">Counter Guarantee Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Number</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="guaranteeNo" type="text">
              </mat-form-field>             
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantee Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="counterGuaranteeAmount"
                  type="number">
              </mat-form-field>             
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="expiryDate" type="date">
              </mat-form-field>            
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Claim Expiry Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="claimExpiryDate" type="date">
              </mat-form-field>
              <br>            
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Swift Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="swiftCode" type="date">
              </mat-form-field>             
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Branch Code</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="branchCode" type="text">
              </mat-form-field>            
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Remarks</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="remarks" type="text">
              </mat-form-field>              
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Counter Guarantee Status</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">

                <input matInput formControlName="counterGuaranteeStatus"
                  type="text">
              </mat-form-field>             
            </div>



            <div style="margin-top: 20px;">
          <button class="previousDC" mat-button matStepperPrevious>Back</button>
          <span style="margin-right: 745px;"></span>
          <button class="nextDC" mat-button matStepperNext>Next</button>
        </div>



          </div>
        </mat-step>

        <!-- Step 5: Guarantee Margin Details -->
        <mat-step label="Margin Details">
          <p class="stepHeading">Guarantee Margin Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Type</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="marginType">
                  <mat-option value="cash">Cash</mat-option>
                  <mat-option value="lien">Lien</mat-option>
                </mat-select>
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Amount:</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="provisionAmount" type="text">
              </mat-form-field>            
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Account</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="provisionAmount" type="text">
              </mat-form-field>             
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Rate</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="collectedMarginRate" type="number">
              </mat-form-field>            
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Margin Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="collectedMarginAmount"
                  type="number">
              </mat-form-field>            
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Release Margin Amount</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="releasedMarginAmount"
                  type="number">
              </mat-form-field>             
            </div>


          <div style="margin-top: 20px;">
            <button class="previousDC" mat-button matStepperPrevious>Back</button>
            <span style="margin-right: 745px;"></span>
            <button class="nextDC" mat-button matStepperNext>Next</button>
        </div>
          </div>
        </mat-step>

        <!-- Step 6: Security Details -->
        <mat-step label="Security Details">
          <p class="stepHeading">Security Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Type of security</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="securityType" type="text">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Amount of the Security</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="securityAmount" type="text">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security currency</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="securityCurrency" type="text">
              </mat-form-field>
              <br>             
            </div>




            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Charge Account</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="securityChargeAccount"
                  type="text">
              </mat-form-field>             
            </div>




            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Description</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="description" type="text">
              </mat-form-field>
              <br>
              <small *ngIf="applicationForm.get('description'). invalid && applicationForm.get('description').touched">
                *Description of the security is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Issuer</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="issuer" type="text">
              </mat-form-field>            
            </div>




            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Maturity Date</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="maturityDate"
                  type="date">
              </mat-form-field>             
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Security Rating</mat-label>
              <br>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="securityRating"
                  type="text">
              </mat-form-field>             
            </div>



            <div style="margin-top: 20px;">
              <button class="previousDC" mat-button matStepperPrevious>Back</button>
              <span style="margin-right: 745px;"></span>
              <button class="nextDC" mat-button matStepperNext>Next</button>
            </div>

          </div>
        </mat-step>

        <!-- Step 3: Goods and Shipment Details -->
        <mat-step label=" Goods and Shipment Details">
          <p class="stepHeading">Goods and Shipment Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Country of Origin</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput="text" formControlName="countryName">
              </mat-form-field>
              
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Port of Loading</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="portLoading">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Port of Discharge</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="portDischarge">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Goods Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text"  formControlName="goodsDescription">
              </mat-form-field>
              
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Quantity</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text"  formControlName="quantity">
              </mat-form-field>
              
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Value</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="quantityValue" type="text">
              </mat-form-field>
             
            </div>


            

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Date of Shipment</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="date" formControlName="shipmentDate">
              </mat-form-field><br/>
            

            
              
                <mat-label>Date of Arrival</mat-label><br/>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput type="date" formControlName="arrivalDate">
                </mat-form-field>
              
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bill of Lading No.</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="billOfLading">
              </mat-form-field>
             
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Invoice No.</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="invoiceNo">
              </mat-form-field>
             
            </div>

         

        
        <div>
          <button class="previousDC" mat-button matStepperPrevious>Back</button>
          <span style="margin-right: 745px;"></span>
          <button class="nextDC" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>




        <!-- Step 4: Document Upload Section -->
        <mat-step label="Document Upload Section">
          <p class="stepHeading"> Document Upload Section</p>
          <div class="row">
            <!-- <mat-label>Bill of Exchange</mat-label>
            <input matInput type="file" multiple accept=".pdf" (change)="onFileSelected($event)"> -->
                <!-- <div>
                   <button mat-icon-button >
                    <mat-icon>delete</mat-icon>
                  </button> 
                 </div> -->
                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Application Form</mat-label>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>


                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Bill of Exchange</mat-label>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>


                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Invoice</mat-label><br/>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>



                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Certificate of Origin</mat-label>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>


                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Insurance Certificate</mat-label>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>



                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Packing List</mat-label><br/>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>



                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload Marine Bill of Lading</mat-label>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>



                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <mat-label for="invoiceDocument"> Upload CMR/Airway Bill</mat-label><br/>
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="file"  formControlName="invoices[]" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                  </mat-form-field>
                 </div>



                 <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addFileUpload()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>



                




                 <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                  <button mat-button color="primary" (click)="addFileUpload()">Add Another File Upload</button>
              </div> -->
              <p class="stepHeading"> Additional Documents</p>
              <!-- New file upload section (will be dynamically added) -->
              <div *ngFor="let row of additionalFileUploads">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2 file-upload">
                      <mat-label for="newFileUpload">Upload {{ row.label }}</mat-label>
                      <mat-form-field class="full-width" appearance="outline">
                          <input matInput type="file" formControlName="additionalFiles" multiple accept=".pdf,application/pdf" (change)="onFileSelected($event)">
                      </mat-form-field>
                  </div>
              </div>
              
              <!-- Buttons for navigation -->
              <div>
                  <button class="previousDC" mat-button matStepperPrevious>Back</button>
                  <span style="margin-right: 700px;"></span>
                  <button class="nextDC" mat-button matStepperNext type="submit" (click)="onSubmit()">Submit</button>
              </div>
                
                
                
                
                


          </div>
          </mat-step>

        



                


                  
                      
        
                 
        



          </form>
    </mat-horizontal-stepper>

  </div>
</section>