
<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'COUNTRIES'" [items]="['Home']" [active_item]="'View'">
        </app-breadcrumb>
      </div>



      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">

            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">

                  <div class="col-12">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>COUNTRIES</h2>
                      </li>

                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon" style="color:maroon">search</i></label>
                        <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                          class="browser-default search-field" aria-label="Search box">
                      </li>


                      <li>
                        <div class="m-l-10" matTooltip="Refresh countries">
                            <button mat-mini-fab style="background-color: maroon; color: white;" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>


                      <li>
                        <div class="m-l-10" matTooltip="Add country">
                            <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addCountry()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>

                      <li>
                        <div class="m-l-10" matTooltip="view all countries">
                            <button mat-mini-fab style="background-color: maroon; color: white;" (click)="view()">
                            <mat-icon class="col-white">visibility</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>




              <mat-paginator class="paginator-container" [pageSize]="10"
                [pageSizeOptions]="[2,5,10,20, 30, 40, 50, 100]" aria-label="Select page of users"></mat-paginator>
                <br/><br/>
                <div>
                  <button class="roleButtons" (click)="masterView()">Back</button>
                </div>




