<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Documentary Collections'" [items]="['Home']" [active_item]="'New DC'">
      </app-breadcrumb>
    </div> 
   

    <mat-horizontal-stepper linear>
      <form [formGroup]="applicationForm">
        <!-- Step 1: Application Details -->
        <mat-step label="Applicant Details" >
          <p class="stepHeading">Applicant details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="accountNumber" type="text">
                <mat-icon matSuffix (click)="openLookup()" id="searchIcon">search</mat-icon>
              </mat-form-field>

              <small
                *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                *Account Number is required</small>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Customer's CIF ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="CIF ID" formControlName="cifId" type="string">
                <mat-icon matSuffix id="searchIcon">search</mat-icon>
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('accountNumber').invalid && applicationForm.get('accountNumber').touched">
                *CIF ID is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>National ID</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter customer's ID" formControlName="nationalId" type="string">
                <mat-icon matSuffix id="searchIcon">search</mat-icon>
              </mat-form-field>
              <small *ngIf="applicationForm.get('nationalId').invalid && applicationForm.get('nationalId').touched">
                *Customer's national ID is required</small>
            </div>
            

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="accountName" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('accountName'). invalid && applicationForm.get('accountName').touched">
                *Account Name is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Currency" formControlName="currency" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('currency').invalid && applicationForm.get('currency').touched">
                *Please specify the currency</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <small *ngIf="applicationForm.get('email').invalid && applicationForm.get('email').touched">
                *Enter valid email address</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" type="tel">
              </mat-form-field>
              <small *ngIf="applicationForm.get('phoneNumber').invalid && applicationForm.get('phoneNumber').touched">
                *Phone Number is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="address" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('address').invalid && applicationForm.get('address').touched">
                *Address is mandatory</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('city').invalid && applicationForm.get('city').touched">
                *City is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Postal Code" formControlName="postalCode" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('postalCode').invalid && applicationForm.get('postalCode').touched">
                *Postal code is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country Code" formControlName="countryCode" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('countryCode').invalid && applicationForm.get('countryCode').touched">
                *Country code is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country" formControlName="country" type="text">
              </mat-form-field>
              <small *ngIf="applicationForm.get('country').invalid && applicationForm.get('country').touched">
                *Applicant's country is required</small>
            </div>


            <div>
              <button class="btn btn-primary" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>

        <!--Step 2: Beneficiary Details-->
        <mat-step label="Beneficiary Details">
          <p class="stepHeading">Beneficiary Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>First Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="First Name" formControlName="beneficiaryFirstName" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryFirstName'). invalid && applicationForm.get('beneficiaryFirstName').touched">
                *Beneficiary First Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Middle Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Middle Name" formControlName="beneficiaryMiddleName" type="text">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Last Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Last Name" formControlName="beneficiaryLastName" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryLastName'). invalid && applicationForm.get('beneficiaryLastName').touched">
                *Beneficiary Last Name is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Beneficiary Address</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Beneficiary Address" formControlName="beneficiaryAddressLine1" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAddressLine1'). invalid && applicationForm.get('beneficiaryAddressLine1').touched">
                *Beneficiary Address is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="beneficiaryEmail" type="email">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryEmail'). invalid && applicationForm.get('beneficiaryEmail').touched">
                *Beneficiary Email is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="beneficiaryPhoneNumber" type="tel">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryPhoneNumber'). invalid && applicationForm.get('beneficiaryPhoneNumber').touched">
                *Beneficiary Phone Number is required</small>
            </div>
      
      
            <p class="stepHeading">Beneficiary Bank Details</p>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="beneficiaryAccountName" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAccountName'). invalid && applicationForm.get('beneficiaryAccountName').touched">
                *Beneficiary Account Name is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Number" formControlName="beneficiaryAccountNumber" type="number">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryAccountNumber'). invalid && applicationForm.get('beneficiaryAccountNumber').touched">
                *Beneficiary Account Number is required</small>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Name</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bank Name" formControlName="beneficiaryBank" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryBank'). invalid && applicationForm.get('beneficiaryBank').touched">
                *Beneficiary Bank Name is required</small>
            </div>


            


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>SWIFT Code</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="SWIFT Code" formControlName="beneficiarySwiftCode" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiarySwiftCode'). invalid && applicationForm.get('beneficiarySwiftCode').touched">
                *Swift Code is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label><br/>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="beneficiaryCity" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('beneficiaryCity'). invalid && applicationForm.get('beneficiaryCity').touched">
                *Beneficiary City is required</small>
            </div>



            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-primary" mat-button matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>



        <!-- Step 3: Goods and Shipment Details -->
        <mat-step label=" Goods and Shipment Details">
          <p class="stepHeading">Goods and Shipment Details</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Country of Origin</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput="text" formControlName="originCountry">
              </mat-form-field>
              <small *ngIf="applicationForm.get('originCountry'). invalid && applicationForm.get('originCountry').touched">
                *LC Type is required</small>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Port of Loading</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="loadingPort">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Port of Discharge</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="dischargePort">
              </mat-form-field>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Goods Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text"  formControlName="goodsDescription">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('goodsDescription'). invalid && applicationForm.get('goodsDescription').touched">
                *Shipment Date is required</small>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Quantity</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text"  formControlName="DCquantity">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('DCquantity'). invalid && applicationForm.get('DCquantity').touched">
                *Port of Discharge is mandatory</small>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Value</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Port of Loading" formControlName="portOfLoading" type="text">
              </mat-form-field>
              <small
                *ngIf="applicationForm.get('portOfLoading'). invalid && applicationForm.get('portOfLoading').touched">
                *Port Of Loading is required</small>
            </div>



            

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Date of Shipmant</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="date" formControlName="shipDateStart">
              </mat-form-field>
            

            
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Date of Arrival</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput type="date" formControlName="shipDateEnd">
                </mat-form-field>
              </mat-form-field>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bill of Lading No.</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="DCbillOfLading">
              </mat-form-field>
              <small *ngIf="applicationForm.get('issueDate'). invalid && applicationForm.get('issueDate').touched">
                *Issue Date is required</small>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Invoice No.</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="DCinvoice">
              </mat-form-field>
              <small *ngIf="applicationForm.get('expiryDate'). invalid && applicationForm.get('expiryDate').touched">
                *Expiry Date is required</small>
            </div>

         

        
        <div>
          <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>



         <!-- Step 4: Documentary Collection Details -->
         <mat-step label="Document Upload Section">
          <p class="stepHeading"> Documentary Collection Details</p>
          <div class="row">
            <p class="stepHeading">Beneficiary Details</p>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label for="dcType"> Documentery Collection type:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
              <mat-select id="dcType" formControlName="dcType">
               <mat-option value="select">Select</mat-option>
               <mat-option value="sight">Sight Documentary Collection</mat-option>
               <mat-option value="time">Time Documentary Collection</mat-option>
               <mat-option value="partial">Sight Documentary Collection (partial payment)</mat-option>
             </mat-select>
            </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Total Amount Payable</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input type="text" formControlName="totPayableAmount">
              </mat-form-field>
              <small *ngIf="applicationForm.get('totPayableAmount'). invalid && applicationForm.get('totPayableAmount').touched">
                *Expiry Date is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label for="chargeAccount"> Charge Account:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
               <input matInput type="text"  formControlName="chargeAccount">
              </mat-form-field>
           </div>

           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label for="curr"> Currency:</mat-label>
            <mat-form-field class="full-width" appearance="outline">
             <input matInput type="text"  formControlName="payableAmount">
            </mat-form-field>
           </div>


           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-label for="payingAmount"> Amount to Pay:</mat-label>
            <mat-form-field class="full-width" appearance="outline">
             <input matInput type="text"  formControlName="payingAmount">
            </mat-form-field>
           </div>

            


            

            
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-primary" mat-button matStepperNext>Next</button>
            </div>

          </div>
        </mat-step>


        <!-- Step 5: Document Upload Section -->
        <mat-step label="Document Upload Section">
          <p class="stepHeading"> Document Upload Section</p>
          <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label for="invoiceDocument"> Upload Invoice:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput type="file"  formControlName="invoices[]" multiple>
              </mat-form-field>
            </div>


        <div class="form-groupDc">
          <mat-label for="packingList">Upload Packing List:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
           <input matInput type="file" formControlName="packingList[]" multiple>
          </mat-form-field>
        </div>


        <div class="form-groupDc">
          <mat-label for="billOfLading">Upload Bill of Lading:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
           <input type="file" id="billOfLading" formControlName="billOfLading[]" multiple>
          </mat-form-field>
        </div>


        <div class="form-groupDc">
          <mat-label for="billOfExchange">Upload Bill of Exchange:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput type="file" id="billOfExchange" formControlName="billOfExchange[]" multiple>
          </mat-form-field>
        </div>



        <div class="form-groupDc">
          <mat-label for="insuranceCertificate">Upload Insurance Cerificate:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
           <input matInput type="file" formControlName="insuranceCertificate[]" multiple>
          </mat-form-field>
        </div>


        <div class="form-groupDc">
          <mat-label for="inspectionCertificate">Upload Inspection Certificate:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
           <input matInput type="file" id="inspectionCertificate" formControlName="insuranceCertificate[]" multiple>
          </mat-form-field>
        </div>


        <div class="form-groupDc">
          <mat-label for="originCert">Upload Insurance Cerificate:</mat-label>
          <mat-form-field class="full-width" appearance="outline">
           <input matInput type="file" id="originCert" formControlName="originCert[]" multiple>
          </mat-form-field>
        </div>


   <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
            <button class="btn btn-primary" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>



        <!-- Step 6: Preview and Submit -->
        <mat-step label="Document Upload Section">
          <p class="stepHeading"> Document Upload Section</p>
          <div class="row">
            <div>
           
              <div>
                <button mat-button >Edit</button>
                <button mat-button>Save as Draft</button>
                <button mat-button color="primary" type="submit">Submit</button>
             </div>


            </div>
          </div>
          <div>
            <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
          </div>

        </mat-step>
      </form>
    </mat-horizontal-stepper>
  </div>
</section>