<!-- Widgets -->
<div class="row">
    <div class="col-lg-4 col-sm-4" (click)="suppliers()">
        <div class="info-box7 bg-kingdom order-info-box7" >
            <div class="info-box7-block" style="border-radius: 5px;">
                <h6 class="m-b-20">Letter of Credit</h6>
                <h2 class="text-end"><span class="float-start">{{suppliersCount}}</span><i
                    class="fab fa-buromobelexperte"></i>
                </h2>
                <a href="/#/lc/view" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6" (click)="expenses()">
        <div class="info-box7 bg-kingdom order-info-box7">
            <div class="info-box7-block" style="border-radius: 5px;">
                <h6 class="m-b-20">Documentary Collection</h6>
                <h2 class="text-end"><span class="float-start">{{expenseCount}}</span><i
                        class="fab fa-buromobelexperte"></i></h2>
                        <a href="/#/documentary-collection/viewDc" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4" (click)="suppliers()">
        <div class="info-box7 bg-kingdom order-info-box7">
            <div class="info-box7-block" style="border-radius: 5px;">
                <h6 class="m-b-20">Bank Guarantee</h6>
                <h2 class="text-end"><span class="float-start">{{suppliersCount}}</span><i
                    class="fab fa-buromobelexperte"></i>
                </h2>
                <a href="/#/bank-guarantee/viewbg" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4" (click)="expenses()">
        <div class="info-box7 bg-kingdom order-info-box7">
            <div class="info-box7-block"style="border-radius: 5px;">
                <h6 class="m-b-20">Invoice Discounting</h6>
                <h2 class="text-end"><span class="float-start">{{expenseCount}}</span><i
                        class="fab fa-buromobelexperte"></i></h2>
                        <a href="/#/invoice-discounting/viewInvoice" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4" (click)="expenses()">
        <div class="info-box7 bg-kingdom order-info-box7"style="border-radius: 10px;">
            <div class="info-box7-block"style="border-radius: 5px;">
                <h6 class="m-b-20">Bills</h6>
                <h2 class="text-end"><span class="float-start">{{expenseCount}}</span><i
                        class="fab fa-buromobelexperte"></i></h2>
                        <a href="/#/bills/viewbill" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4" (click)="expenses()">
        <div class="info-box7 bg-kingdom order-info-box7">
            <div class="info-box7-block"style="border-radius: 5px;">
                <h6 class="m-b-20">Reports</h6>
                <h2 class="text-end"><span class="float-start">{{expenseCount}}</span><i
                        class="fab fa-buromobelexperte"></i></h2>
                        <a href="" class="m-b-0" style="color:white">Click for more details!</a>
            </div>
    
        </div>
    </div>

</div>
<!-- #END# Widgets -->