.container-fluid
  h2
    // Additional styling for h2 if needed
  
  mat-dialog-content
    .container
      .row
        .col-xl-3,
        .col-lg-3,
        .col-md-3,
        .col-sm-3
          mb-2
            // Apply margin-bottom style if needed

          p
            color: maroon
            font-size: 18px
            font-weight: bold
            &:not(:first-of-type)
              color: black
              font-size: 14px
              font-weight: normal

          label
            color: black          // Default label color
            font-size: 14px       // Default font size
            font-weight: bold     // Default font weight
            
            // Additional styling can be applied here
