<section class="content">
  <div class="content-block">
    <div class="block-header">

      <app-breadcrumb [title]="'Invoice Discounting'" [items]="['Home']" [active_item]="'Created Invoice Form'">
      </app-breadcrumb>
      <div class="container white-background" id="printable-content">

        <div class="button-container"
          style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 10px; margin-bottom: 10px;">
          <p style="color: maroon; font-size: 18px; font-weight: bold; margin: 0;">Invoice Discounting Form</p>
          <div style="display: flex; gap: 10px;">
            <button mat-flat-button mat-button color="primary" (click)="approveAction()">
              <mat-icon>check_circle</mat-icon> Approve
            </button>

            <button mat-flat-button mat-button color="warn" (click)="rejectAction()">
              <mat-icon>cancel</mat-icon> Reject
            </button>
            <button class="btn btn-secondary" (click)="closeForm()" tabindex="-1">Close</button>
            <!-- <button class="btn btn-primary" (click)="approveAction()">Approve</button>
            <button mat-flat-button mat-button color="warn" (click)="rejectAction()">Reject</button> -->
            <mat-icon style="margin-top: 10px;" (click)="printForm()">print</mat-icon>
            <!-- Close button -->
            <!-- <span class="close-button" (click)="closeForm()" tabindex="-1" style="cursor: pointer; margin-top:10px;color: red;">
    <mat-icon>close</mat-icon>
  </span> -->


          </div>
        </div>



        <p style="color: maroon; font-size: 18px; font-weight: bold;">Applicant Details:</p>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <p><strong>Account Name:</strong> {{data?.accountName }}</p>
            <p><strong>Account Number:</strong> {{data?.accountNumber }}</p>
            <p><strong>Cif Id:</strong> {{data?.cifId}}</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <p><strong>Phone Number:</strong> {{data?.phoneNumber}}</p>
            <p><strong>Email:</strong> {{data?.email}}</p>
            <p><strong>National Id:</strong> {{data?.nationalId}}</p>
          </div>
          <br>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <p><strong>City:</strong> {{data?.city}}</p>
            <p><strong>Address:</strong> {{data?.address}}</p>
            <p><strong>Postal Code:</strong> {{data?.postalCode}}</p>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <p><strong>Currency:</strong> {{data?.currency}}</p>
            <p><strong>Country:</strong> {{data?.country}}</p>
            <p><strong>Country Code:</strong> {{data?.countryCode}}</p>
          </div>

        </div>


        <p style="color: maroon; font-size: 18px; font-weight: bold;">Invoice Details:</p>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <div class="flex-column">
              <p><strong>Invoice Date:</strong> {{data?.invoices?.[0]?.invoiceDate}}</p>
              <p><strong>Invoice Number:</strong> {{data?.invoices?.[0]?.invoiceNumber}}</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <div class="flex-column">
              <p><strong>Invoice Amount:</strong> {{data?.invoices?.[0]?.invoiceAmount}}</p>
              <p><strong>Applicant's Company Name:</strong> {{data?.invoices?.[0]?.applicantBusinessName}}</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <div class="flex-column">
              <p><strong>Applicant's Business Address:</strong> {{data?.invoices?.[0]?.applicantBusinessAddress}}</p>
              <p><strong>Due date:</strong> {{data?.invoices?.[0]?.dueDate}}</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-2">
            <div class="flex-column">
              <p><strong>Application Form:</strong> {{data?.applicationForm}}</p>
              <a *ngIf="data?.invoices?.[0]" (click)="downloadFile()" style="cursor: pointer;">
                <mat-icon>file_download</mat-icon>
              </a>
              <p><strong>Uploaded Invoices:</strong> {{data?.invoices}}</p>
              <a *ngIf="data?.invoices?.[0]" (click)="downloadFile()" style="cursor: pointer;">
                <mat-icon>file_download</mat-icon>
              </a>
            </div>
          </div>
        </div>

        <p style="color: maroon; font-size: 18px; font-weight: bold;">Importer/Buyer Details:</p>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
            <p><strong>Business Name:</strong> {{data?.invoices?.[0]?.buyerBusinessName}}</p>

          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
            <p><strong>Full Name:</strong> {{data?.invoices?.[0]?.buyerName}}</p>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
            <p><strong>Email:</strong> {{data?.invoices?.[0]?.buyerEmailAddress}}</p>

          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
            <p><strong>Country:</strong> {{data?.invoices?.[0]?.buyerCountry}}</p>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
            <p><strong>City:</strong> {{data?.invoices?.[0]?.buyerCity}}</p>
          </div>


        </div>
        <div class="row justify-content-end">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 mb-2">
            <mat-label style="font-weight: bold; display: block; margin-bottom: 5px;">Approved by:</mat-label>
            <!-- Bind form controls using [(ngModel)] and formGroup -->
            <input type="text" [(ngModel)]="approverName" placeholder="Full name" 
             >

          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 mb-2">
            <mat-label style="font-weight: bold; display: block; margin-bottom: 5px;">Email:</mat-label>
            <input type="email" [(ngModel)]="approverEmail" placeholder="Email" >

          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 mb-2">
            <mat-label style="font-weight: bold; display: block; margin-bottom: 5px;">Date:</mat-label>
            <input type="datetime-local" placeholder="DD/MM/YY" [(ngModel)]="currentDate" [disabled]="true"
              class="form-control">
          </div>
        </div>


      </div>

    </div>
  </div>
</section>