<div class="container-fluid">
  <h2 mat-dialog-title>
    Invoice Discounting Form
    <button style="margin-right: 1%;" class="btn btn-primary" (click)="approveAction()">Approve</button>
    <button mat-flat-button mat-button color="warn" (click)="rejectAction()">Reject</button>
    <button class="btn btn-secondary"  style="margin-right: 1%;"(click)="closeAndUpdateStatus()" tabindex="-1">Close</button>
  </h2>
  <mat-dialog-content id="printable-content">
  
    <!-- Form content here -->
    <div class="container">
      <!-- Applicant Details -->
      <p style="color: maroon; font-size: 18px; font-weight: bold;">Applicant Details:</p>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Account Name:</strong> {{data?.accountName }}</p>
          <p><strong>Account Number:</strong> {{data?.accountNumber }}</p>
          <p><strong>Cif Id:</strong> {{data?.cifId}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Phone Number:</strong> {{data?.phoneNumber}}</p>
          <p><strong>Email:</strong> {{data?.email}}</p>
          <p><strong>NationalId:</strong> {{data?.nationalId}}</p>
       
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>City:</strong> {{data?.city}}</p>
          <p><strong>Address:</strong> {{data?.address}}</p>
          <p><strong>Postal Code:</strong> {{data?.postalCode}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Currency:</strong> {{data?.currency}}</p>
          <p><strong>Country:</strong> {{data?.country}}</p>
          <p><strong>Country Code:</strong> {{data?.countryCode}}</p>
        </div>
      </div>
      <!-- Invoice Details -->
      <p style="color: maroon; font-size: 18px; font-weight: bold;">Invoice Details:</p>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Invoice Date:</strong> {{data?.invoices?.[0]?.invoiceDate}}</p>
          <p><strong>Invoice Number:</strong> {{data?.invoices?.[0]?.invoiceNumber}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Invoice Amount:</strong> {{data?.invoices?.[0]?.invoiceAmount}}</p>
          <p><strong>Applicant's Company Name:</strong> {{data?.invoices?.[0]?.applicantBusinessName}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Applicant's Business Address:</strong> {{data?.invoices?.[0]?.applicantBusinessAddress}}</p>
          <p><strong>Due date:</strong> {{data?.invoices?.[0]?.dueDate}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Application Form:</strong> {{data?.applicationForm}}</p>
          <a *ngIf="data?.invoices?.[0]" (click)="downloadFile()" style="cursor: pointer;">
            <mat-icon>file_download</mat-icon>
          </a>
          <p><strong>Uploaded Invoices:</strong> {{data?.invoices}}</p>
          <a *ngIf="data?.invoices?.[0]" (click)="downloadFile()" style="cursor: pointer;">
            <mat-icon>file_download</mat-icon>
          </a>
        </div>
      </div>
      <!-- Importer Details -->
      <p style="color: maroon; font-size: 18px; font-weight: bold;">Importer Details:</p>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Buyer's Name:</strong> {{data?.invoices?.[0]?.buyerName}}</p>
          <p><strong>Buyer's Email:</strong> {{data?.invoices?.[0]?.buyerEmailAddress}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Country:</strong> {{data?.invoices?.[0]?.buyerCountry}}</p>
          <p><strong>City:</strong> {{data?.invoices?.[0]?.buyerCity}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <p><strong>Business Name:</strong> {{data?.invoices?.[0]?.buyerBusinessName}}</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-label style="font-weight: bold; display: block; margin-bottom: 5px;">Approved by:</mat-label>
          <input type="text" placeholder="Full name" required style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
          <mat-label style="font-weight: bold; display: block; margin-top: 10px; margin-bottom: 5px;">Email:</mat-label>
          <input type="email" placeholder="Email" required style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
          <mat-label style="font-weight: bold; display: block; margin-top: 10px; margin-bottom: 5px;">Date:</mat-label>
          <input type="datetime-local" placeholder="DD/MM/YY" [(ngModel)]="currentDate" [disabled]="true" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>


 