

    <div class="charts-container">
    <div class="chart">
    <apx-chart [series]="chartOptions.series" [colors]="lineChartOptions.colors"[title]="chartOptions.title"[chart]="chartOptions.chart" [labels]="chartOptions.labels" [dataLabels]="chartOptions.dataLabels"
      [responsive]="chartOptions.responsive"></apx-chart>
    </div>
    <div class="chart-line">
    <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart" [xaxis]="lineChartOptions.xaxis"
      [stroke]="lineChartOptions.stroke" [dataLabels]="lineChartOptions.dataLabels" [markers]="lineChartOptions.markers"
      [colors]="lineChartOptions.colors" [yaxis]="lineChartOptions.yaxis" [grid]="lineChartOptions.grid"
      [legend]="lineChartOptions.legend" [title]="lineChartOptions.title"></apx-chart>
    </div>
  </div>
