<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'CURRENCIES'" [items]="['Home']" [active_item]="'View'">
        </app-breadcrumb>
      </div>
  
      <div class="content-block">
        <div class="table-header">
          <span style="width: 60%;"></span>       
        </div>


        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
    
                <div class="table-responsive">
                  <div class="materialTableHeader">
                    <div class="row">
    
                      <div class="col-12">
                        <ul class="header-buttons-left ms-0">
                          <li class="dropdown">
                            <h2>CURRENCIES</h2>
                          </li>
    
                          <li class="dropdown m-l-20">
                            <label for="search-input"><i class="material-icons search-icon" style="color:maroon">search</i></label>
                            <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                              class="browser-default search-field" aria-label="Search box">
                          </li>

                          <li>
                            <div class="m-l-10" matTooltip="Refresh currencies">
                                <button mat-mini-fab style="background-color: maroon; color: white;" (click)="getCurrencies()">
                                <mat-icon class="col-white">refresh</mat-icon>
                              </button>
                            </div>
                          </li>
    
                          <li>
                            <div class="m-l-10" matTooltip="Add currency">
                                <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addCurrency()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>
                          </li>  
                          
                          <li>
                            <div class="m-l-10" matTooltip="View all currencies">
                                <button mat-mini-fab style="background-color: maroon; color: white;" (click)="viewCurrencies()">
                                <mat-icon class="col-white">visibility</mat-icon>
                              </button>
                            </div>
                          </li>
    
                        </ul>
                      </div>
    
                    </div>
                  </div>
    
        <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell">
          <ng-container matColumnDef="currencyCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="psl-3 tbl-col-width-per-40">
              Currency Code
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="psl-3 tbl-col-width-per-40">
              {{ element.currencyCode }}
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="currencyName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="psl-3 tbl-col-width-per-60">
              Currency Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="psl-3 tbl-col-width-per-60">
              {{ element.currencyName }}
            </mat-cell>
          </ng-container>

          
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"
            [style.cursor]="'pointer'" matRipple>
          </mat-row>
  
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]"
            aria-label="Select page of currencies"></mat-paginator>
        </mat-table>
  
        <div *ngIf="isLoading" class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
    </div>
  
  
