<div class="top-bar">
  <input type="search">
</div>
<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Bill'" [items]="['Home']" [active_item]="'New Bill'">
      </app-breadcrumb>
    </div>
    <div class="loader"></div>
    <mat-horizontal-stepper linear>
      <form [formGroup]="billForm">
        <!-- Step 1: Application Details -->
        <mat-step label="Applicant Details">
          <p style="color: maroon; font-weight: bold;">Applicant Details:</p>
          <div class="row" #applicationDetails>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Number" formControlName="accountNumber" type="text">
                <mat-icon matSuffix (click)="openLookup()">search</mat-icon>
              </mat-form-field>

              <br>
              <small
                *ngIf="billForm.get('accountNumber').invalid && billForm.get('accountNumber').touched">
                *Account Number is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Customer's CIF ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="CIF ID" formControlName="cifId" type="string">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <small
                *ngIf="billForm.get('accountNumber').invalid && billForm.get('accountNumber').touched">
                *CIF ID is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>National ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter customer's ID" formControlName="nationalId" type="string">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <small *ngIf="billForm.get('nationalId').invalid && billForm.get('nationalId').touched">
                *Customer's national ID is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Account Name" formControlName="accountName" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('accountName'). invalid && billForm.get('accountName').touched">
                *Account Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Currency" formControlName="currency" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('currency').invalid && billForm.get('currency').touched">
                *Please specify the currency</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="email" type="email">
              </mat-form-field>
              <small *ngIf="billForm.get('email').invalid && billForm.get('email').touched">
                *Enter valid email address</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Phone Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" type="tel">
              </mat-form-field>
              <small *ngIf="billForm.get('phoneNumber').invalid && billForm.get('phoneNumber').touched">
                *Phone Number is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="address" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('address').invalid && billForm.get('address').touched">
                *Address is mandatory</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="City" formControlName="city" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('city').invalid && billForm.get('city').touched">
                *City is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Postal Code" formControlName="postalCode" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('postalCode').invalid && billForm.get('postalCode').touched">
                *Postal code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country Code" formControlName="countryCode" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('countryCode').invalid && billForm.get('countryCode').touched">
                *Country code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country" formControlName="country" type="text">
              </mat-form-field>
              <small *ngIf="billForm.get('country').invalid && billForm.get('country').touched">
                *Applicant's country is required</small>
            </div>
            <div>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!--Step 2: Beneficiary Details-->
        <mat-step label="Beneficiary Details">
          <p style="color: maroon; font-weight: bold;">Beneficiary Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>First Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="First Name" formControlName="beneficiaryFirstName" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryFirstName'). invalid && billForm.get('beneficiaryFirstName').touched">
                *Beneficiary First Name is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Middle Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput placeholder="Middle Name" formControlName="beneficiaryMiddleName" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Last Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Last Name" formControlName="beneficiaryLastName" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryLastName'). invalid && billForm.get('beneficiaryLastName').touched">
                *Beneficiary Last Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Email</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Beneficiary's email" formControlName="beneficiaryEmail" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryEmail'). invalid && billForm.get('beneficiaryEmail').touched">
                *Beneficiary Email is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Beneficiary Account Name" formControlName="beneficiaryAccountName" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryAccountName'). invalid && billForm.get('beneficiaryAccountName').touched">
                *Beneficiary's Account Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Account Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Beneficiary Account Number" formControlName="beneficiaryAccountNumber" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryAccountNumber'). invalid && billForm.get('beneficiaryAccountNumber').touched">
                *Beneficiary's Account Number is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>IBAN</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Beneficiary's Iban" formControlName="beneficiaryIban" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryIban'). invalid && billForm.get('beneficiaryIban').touched">
                *Beneficiary Email is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address Line1</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address Line1" formControlName="beneficiaryAddressLine1" type="tel">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryPhoneNumber'). invalid && billForm.get('beneficiaryPhoneNumber').touched">
                *Address Line1 beneficiary Phone Number is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Address Line2</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address Line2" formControlName="beneficiaryBankAddressLine2" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryBankAddressLine2'). invalid && billForm.get('beneficiaryBankAddressLine2').touched">
                *Beneficiary Account Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>City</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Enter Beneficiary City" formControlName="beneficiaryCity" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryAccountNumber'). invalid && billForm.get('beneficiaryAccountNumber').touched">
                *Beneficiary City is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Postal Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Postal Code" formControlName="beneficiaryPostalCode" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryPostalCode'). invalid && billForm.get('beneficiaryPostalCode').touched">
                *Beneficiary's Postal code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="SWIFT Code" formControlName="beneficiaryCountryCode" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryCountryCode'). invalid && billForm.get('beneficiaryCountryCode').touched">
                *Beneficiary Country Code is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Country</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Country" formControlName="beneficiaryCountry" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('beneficiaryCountry'). invalid && billForm.get('beneficiaryCountry').touched">
                *Beneficiary City is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Advising Bank Name" formControlName="advisingBankName" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('advisingBankName'). invalid && billForm.get('advisingBankName').touched">
                *Advising Bank is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bank Country</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Advising Bank country" formControlName="advisingBankCountry" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('advisingBankCountry'). invalid && billForm.get('advisingBankCountry').touched">
                *Advising Bank Country is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>SWIFT Code</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Advising Bank Bic" formControlName="advisingBankBic" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('advisingBankBic'). invalid && billForm.get('advisingBankBic').touched">
                *Advising Bank Country is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>
        <!-- Step 3: BILL Details -->
        <mat-step label=" Bill Details">
          <p style="color: maroon; font-weight: bold;">Bill Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label> Bill Type</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="billType">
                  <mat-option value="revocable">Import Financing</mat-option>
                  <mat-option value="irrevocable">Export Financing</mat-option>
                </mat-select>
              </mat-form-field>
              <small *ngIf="billForm.get('lcType'). invalid && billForm.get('billType').touched">
                *Bill Type is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bill Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bill Number" formControlName="billNumber" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('billNumber'). invalid && billForm.get('billNumber').touched">
                *Bill Number is mandatory</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Amount</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Amount" formControlName="amount" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('Amount'). invalid && billForm.get('Amount').touched">
                *Amount is mandatory</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Currency</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Currency" formControlName="currency" type="text">
              </mat-form-field>
              <mat-select formControlName="currency">
                <mat-option value="" disabled>Select Currency</mat-option>
                <mat-option value="usd">USD</mat-option>
                <mat-option value="gbp">GBP</mat-option>
                <mat-option value="eur">EUR</mat-option>
                <mat-option value="jpy">JPY</mat-option>
                <mat-option value="cny">CNY</mat-option>
              </mat-select>
              <small
                *ngIf="billForm.get('currency'). invalid && billForm.get('currency').touched">
                *Currency is mandatory</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Issue Date</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Issue Date" formControlName="issueDate" type="date">
              </mat-form-field>
              <small
                *ngIf="billForm.get('issueDate'). invalid && billForm.get('issueDate').touched">
                *Issue Date is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Due Date</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Due Date" formControlName="dueDate" type="date">
              </mat-form-field>
              <small
                *ngIf="billForm.get('dueDate'). invalid && billForm.get('dueDate').touched">
                *Due Date is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Tenor/Period</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Tenor" formControlName="tenor" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('currency'). invalid && billForm.get('tenor').touched">
                *Tenor is mandatory</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Discount Rate</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Discount Rate" formControlName="discountRate" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('discountRate'). invalid && billForm.get('discountRate').touched">
                *Discount Rate is mandatory</small>
            </div>
    
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Acceptance Due Date</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Expiry Date" formControlName="expiryDate" type="date">
              </mat-form-field>
              <small *ngIf="billForm.get('acceptanceDueDate'). invalid && billForm.get('acceptanceDueDate').touched">
                *Acceptance Due Date is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Acceptance Status</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Acceptance Status" formControlName="acceptanceStatus" type="text">
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Negotiation Date</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Negotiation Date" formControlName="negotiationDate" type="date">
              </mat-form-field>
              <small *ngIf="billForm.get('negotiationDate'). invalid && billForm.get('negotiationDate').touched">
                *Negotiation Date is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Avalised</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Negotiation Period</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Negotiation Period" formControlName="negotiationPeriod" type="text">
              </mat-form-field>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Avalised</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-select>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Avalisation Expiry Date</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Avalisation Expiry Date" formControlName="avalisationExpiryDate" type="date">
              </mat-form-field>
              <small *ngIf="billForm.get('avalisationExpiryDate'). invalid && billForm.get('avalisationExpiryDate').touched">
                *Avalisation Expiry Date is required</small>
            </div>
          
           
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Quarantor</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="Quarantor" formControlName="quarantor" type="text">
                </mat-form-field>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Charges Borne By:</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Charges Borne By</mat-label>
                <mat-select formControlName="chargesBorneBy">
                  <mat-option value="" disabled>Select Charges Borne By</mat-option>
                  <mat-option value="applicant">Applicant</mat-option>
                  <mat-option value="beneficiary">Beneficiary</mat-option>
                  <mat-option value="both">Both</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>


        <!--Step 4: Collateral and Guarantee Details-->
        <mat-step label="Collateral Details">
          <p style="color: maroon; font-weight: bold;">Collateral Details:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Collateral Type</mat-label>
              <mat-form-field class="full-width" appearance="outline">

                <mat-select formControlName="collateralType">
                  <mat-option value="realestate">Real_Estate</mat-option>
                  <mat-option value="accountreceivable">Account_Receivables</mat-option>
                  <mat-option value="vehicles">Vehicles</mat-option>
                  <mat-option value="bonds">Bonds</mat-option>
                </mat-select>
              </mat-form-field>
              <small
                *ngIf="billForm.get('collateralType'). invalid && billForm.get('collateralType').touched">
                *Collateral Type is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Collateral ID</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Collateral ID" formControlName="collateralId" type="number">
              </mat-form-field>
              <small
                *ngIf="billForm.get('collateralId'). invalid && billForm.get('collateralId').touched">
                *Collateral ID is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Collateral Value</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Collateral Value" formControlName="collateralValue" type="number">
              </mat-form-field>
              <small
                *ngIf="billForm.get('collateralValue'). invalid && billForm.get('collateralValue').touched">
                *Collateral Value is required</small>
            </div>
            <br>
            <p style="color: maroon; font-weight: bold;">Guarantor's Details:</p>
            <br>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantor's Name</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Full Name" formControlName="guarantorName" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('guarantorName'). invalid && billForm.get('guarantorName').touched">
                *Guarantor's Full Name is required</small>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantor's Address</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Address" formControlName="guarantorAddress" type="text">
              </mat-form-field>
              <small
                *ngIf="billForm.get('guarantorAddress'). invalid && billForm.get('guarantorAddress').touched">
                *Guarantor's Address is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantor's Email</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Email" formControlName="guarantorEmail" type="email">
              </mat-form-field>
              <small
                *ngIf="billForm.get('guarantorEmail'). invalid && billForm.get('guarantorEmail').touched">
                *Guarantor's Email is required</small>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Guarantor's Phone Number</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Phone Number" formControlName="guarantorPhoneNumber" type="tel">
              </mat-form-field>
              <small
                *ngIf="billForm.get('guarantorPhoneNumber'). invalid && billForm.get('guarantorPhoneNumber').touched">
                *Guarantor's Phone Number is required</small>
            </div>
            <div>
              <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
              <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Step 5: Document Upload Section -->
        <mat-step label="Document Upload Section">
          <p style="color: maroon; font-weight: bold;">Required Documents Section:</p>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Commercial Invoice</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Commercial Invoice" formControlName="documentName1" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="documentDescription1" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Commercial Invoice:</label>
                <input type="file" id="commercialInvoice" name="commercialInvoiceFile">
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Bill of Lading</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Bill of Lading" formControlName="documentName2" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="documentDescription2" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Bill of Lading:</label>
                <input type="file" id="commercialInvoice" name="billOfLadingFile">
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Packing List</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Packing List" formControlName="documentName3" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="documentDescription3" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Packing List:</label>
                <input type="file" id="commercialInvoice" name="packingListFile">
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Certificate of Origin</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Certificate Of Origin" formControlName="documentName4" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="documentDescription4" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Certificate Of Origin:</label>
                <input type="file" id="commercialInvoice" name="certificateOfOrigin">
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Insurance Certificate</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Insurance Certificate" formControlName="documentName5" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Description</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="documentDescription5" type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Insurance Certificate:</label>
                <input type="file" id="insuranceCertificate" name="insuranceCertificate">
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Quality Inspection Certificate</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Quality Inspection Certificate" formControlName="documentName6"
                  type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <mat-label>Document</mat-label>
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Document Description" formControlName="qualityInspectionCertificate"
                  type="text">
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
              <div>
                <label for="Commercial Invoice">Upload Quality Inspection Certificate:</label>
                <input type="file" id="qualityInspectionCertificate" name="qualityInspectionCertificateFile">
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-secondary" mat-button matStepperPrevious>Back</button>
            <button class="btn" mat-button matStepperNext style="margin: 20px;">Next</button>
          </div>
        </mat-step>
        <!-- Step 7: Preview and Submit -->
        <mat-step label="Preview and Submit">
          <p style="color: maroon; font-weight: bold;">Preview and Submit:</p>
          <mat-form-field>
            <mat-label>Confirm</mat-label>
            <mat-select>
              <mat-option value="yes"> Yes</mat-option>
              <mat-option value="no"> No</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Advise</mat-label>
            <mat-select>
              <mat-option value="yes"> Yes</mat-option>
              <mat-option value="no"> No</mat-option>
            </mat-select>
          </mat-form-field>
          <div>

            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <button mat-raised-button (click)="onSubmit()" class="btn" style="margin: 20px;">Submit</button>

                <button mat-raised-button type="reset" class="btn btn-secondary">Cancel</button>
              </div>
            </div>
          </div>
        </mat-step>
        ~
      </form>
    </mat-horizontal-stepper>
  </div>
</section>