<div>
  <mat-label style="color:black">Enter a valid value:</mat-label><br/>
  <mat-form-field appearance="outline">    
  <input matInput type="text" [(ngModel)]="accountNumber" placeholder="Enter value...." type="number">
</mat-form-field>
<br>
  <button mat-flat-button style="background-color: maroon;color:white" (click)="search()">Search</button>
  <span style="margin-left:60px;"></span>
  <button mat-flat-button style="background-color: maroon;color:white" (click)="closeDialog()">Close</button>
</div>
