.authBackground {
  background-image: linear-gradient(
    rgba(51, 51, 102, 0.7), /* Darker overlay for a more natural look */
    rgba(102, 102, 153, 0.5)
  ),
  url("/assets/images/background/Trade finance_bg.jpg");
  // url("/assets/images/background/Bg_.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-box {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.938); /* Increased opacity for better visibility */
  padding: 40px 30px; /* Adjusted padding for better spacing */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box-shadow for better contrast */
  width: 80%; /* Default width for small screens */
  max-width: 500px; /* Added max-width for responsiveness */
  min-height: 50%; /* Ensure minimum height for content */
}

/* Media query for medium screens */
@media (min-width: 600px) {
  .form-box {
    width: 60%; /* Adjust width for medium screens */
  }
}

/* Media query for large screens */
@media (min-width: 900px) {
  .form-box {
    width: 40%; /* Adjust width for large screens */
  }
}

/* Media query for extra-large screens */
@media (min-width: 1200px) {
  .form-box {
    width: 30%; /* Adjust width for extra-large screens */
  }
}



h6 {
  text-align: center;
  color: #9B2827;
  /*Equity maroon*/
  font-weight: 400;
  font-family: Georgia, serif;
}

h4 {
  text-align: center;
  color: #9B2827;
  /* Equity maroon */
  font-weight: 500;
  font-family: Georgia, serif;
}

h5 {
  text-align: center;
  color: #9B2827;
  /*Equity maroon */
  font-weight: 600;
  font-family: Georgia, serif;
}

.dark-green-button {
  background-color: #9B2827;
  color: white;
  
}