<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'ROLES'" [items]="['Home']" [active_item]="'View'">
        </app-breadcrumb>
        </div>
          
           
          
                  <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="body">
              
                          <div class="table-responsive">
                            <div class="materialTableHeader">
                              <div class="row">
              
                                <div class="col-12">
                                  <ul class="header-buttons-left ms-0">
                                    <li class="dropdown">
                                      <h2>ROLES</h2>
                                    </li>
              
                                    <li class="dropdown m-l-20">
                                      <label for="search-input"><i class="material-icons search-icon" style="color:maroon">search</i></label>
                                      <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                                        class="browser-default search-field" aria-label="Search box">
                                    </li>

                                    <li>
                                      <div class="m-l-10" matTooltip="Refresh roles">
                                          <button mat-mini-fab style="background-color: maroon; color: white;" (click)="refresh()">
                                          <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                      </div>
                                    </li>
              
                                    <li>
                                      <div class="m-l-10" matTooltip="Add role">
                                          <button mat-mini-fab style="background-color: maroon; color: white;" (click)="addRole()">
                                          <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                      </div>
                                    </li>
              
                                    
    
    
                                    <li>
                                      <div class="m-l-10" matTooltip="View all roles">
                                          <button mat-mini-fab style="background-color: maroon; color: white;" (click)="refresh()">
                                          <mat-icon class="col-white">visibility</mat-icon>
                                        </button>
                                      </div>
                                    </li>
              
                                  </ul>
                                </div>
              
                              </div>
                            </div>
                
                          

                                <div *ngIf="isLoading" class="spinner-container">
                                  <!-- Loading spinner or message -->
                                  <mat-spinner class="custom-spinner" style="color: maroon;margin-left:500px;"></mat-spinner>
                                </div>
                                <div *ngIf="!isLoading">
                                  
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        
                                        <th>Role Name </th>
                                        <th>Role Code</th>
                                        <th>Role Description</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let privilege of privileges">
                                        
                                        <td>{{role.roleName}}</td>
                                        <td>{{role.roleDescription}}</td>
                                        <td>{{role.roleName}}</td>
                                        <td><button matTooltip="View privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>visibility</mat-icon></button>                                                              
                                          <button matTooltip="Modify privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>edit</mat-icon></button>                              
                                          <button matTooltip="Delete privilege" style="background-color:transparent;color:maroon;border:none"><mat-icon>delete</mat-icon></button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>






<br/><br/>
                                

                                <div>
                                  <button class="roleButtons" type="button" (click)="mainRole()">Cancel</button>
                                  <span style="margin-right:66%;"></span>
                                  <button class="roleButtons" type="button" (click)="privilege()">To Privileges</button>
                                </div>
            
            


<!-- </section> -->




<!-- <div>
                  <button mat-mini-fab style="background-color: maroon; color: white;" matTooltip="Add Privilege">
                    <mat-icon class="col-white" (click)="callAdd()"  >add</mat-icon>
                  </button>
                </div>
                <br/> -->