<div class="row">

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
    <mat-card>
      <mat-card-content>
        <div id="charty">
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [markers]="chartOptions.markers" [stroke]="chartOptions.stroke" [yaxis]="chartOptions.yaxis"
            [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title" [fill]="chartOptions.fill"
            [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
    <app-analtics2></app-analtics2>
  </div>

</div>