<div class="card" style="position: relative; height: 450px; ">
<div class="container">
<div id="charty">
  <apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [markers]="chartOptions.markers"
  [stroke]="chartOptions.stroke"
  [yaxis]="chartOptions.yaxis"
  [dataLabels]="chartOptions.dataLabels"
  [title]="chartOptions.title"
  [fill]="chartOptions.fill"
  [tooltip]="chartOptions.tooltip"
  [legend]="chartOptions.legend"
  [colors]="chartOptions.colors" 
  ></apx-chart>
</div>

<app-analtics2></app-analtics2>

</div>







 


