<div class="auth-container">
    <div class="row auth-main">
      <!-- <div class="col-sm-6 px-0 d-none d-sm-block" >
        <img src="assets/images/sign-in.jpg" style="margin: 100px;" width="700px" height="600px"/>
      </div> -->
      <div class="col-sm-12 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <div class="text-center">
              <img src="assets/images/equity_logo.jpg" width="100px" height="100px" alt="" />
            </div>
            <h2 class="welcome-msg"> Change Password </h2>
            <!-- <p class="auth-signup-text text-muted">Enter details to create your account</p> -->
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onResetPassword()">

<!-- 6characters, special character,integer 7 caps  -->
     
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input matInput formControlName="currentPassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="authForm.get('currentPassword').hasError('required')">
                       Current Password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="authForm.get('newPassword').hasError('required')">
                     New  Password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="chide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="chide = !chide">
                      {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="authForm.get('confirmPassword').hasError('required')">
                      Confirm Password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="container-auth-form-btn">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Reset
                </button>
              </div>
            </form>
            
            <h6 class="social-login-title">OR</h6>
            <ul class="list-unstyled social-icon mb-0 mt-3">
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-google"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded flex-c-m">
                  <i class="fab fa-facebook-f"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-twitter"></i>
                </a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                  <i class="fab fa-linkedin-in"></i>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
